.page-content {
  background: #f3f4f5;
  width: calc(100vw - 75px);
  height: 100vh;
  padding: 0 0 0 75px;
  display: grid;
  grid-template-columns: 1fr 350px;
}

.page-center-content {
  height: 100vh;
  overflow: scroll;
}

.page-right-content {
  padding: 0 10px 0px 10px;
}

@media only screen and (max-width: 800px) {
  .page-content {
    display: flex;
  }
  .page-right-content {
    display: none;
  }

  .page-center-content {
    width: 100%;
  }
}
