{
  "documentation": "<fullname>DataSync</fullname> <p>DataSync is a managed data transfer service that makes it simpler for you to automate moving data between on-premises storage and Amazon Simple Storage Service (Amazon S3) or Amazon Elastic File System (Amazon EFS). </p> <p>This API interface reference for DataSync contains documentation for a programming interface that you can use to manage DataSync.</p>",
  "metadata": {
    "apiVersion": "2018-11-09",
    "endpointPrefix": "datasync",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "DataSync",
    "serviceFullName": "AWS DataSync",
    "serviceId": "DataSync",
    "signatureVersion": "v4",
    "signingName": "datasync",
    "targetPrefix": "FmrsService",
    "uid": "datasync-2018-11-09"
  },
  "operations": {
    "CancelTaskExecution": {
      "documentation": "<p>Cancels execution of a task. </p> <p>When you cancel a task execution, the transfer of some files is abruptly interrupted. The contents of files that are transferred to the destination might be incomplete or inconsistent with the source files. However, if you start a new task execution on the same task and you allow the task execution to complete, file content on the destination is complete and consistent. This applies to other unexpected failures that interrupt a task execution. In all of these cases, DataSync successfully complete the transfer when you start the next task execution.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CancelTaskExecutionRequest" },
      "name": "CancelTaskExecution",
      "output": { "shape": "CancelTaskExecutionResponse" }
    },
    "CreateAgent": {
      "documentation": "<p>Activates an DataSync agent that you have deployed on your host. The activation process associates your agent with your account. In the activation process, you specify information such as the Amazon Web Services Region that you want to activate the agent in. You activate the agent in the Amazon Web Services Region where your target locations (in Amazon S3 or Amazon EFS) reside. Your tasks are created in this Amazon Web Services Region.</p> <p>You can activate the agent in a VPC (virtual private cloud) or provide the agent access to a VPC endpoint so you can run tasks without going over the public internet.</p> <p>You can use an agent for more than one location. If a task uses multiple agents, all of them need to have status AVAILABLE for the task to run. If you use multiple agents for a source location, the status of all the agents must be AVAILABLE for the task to run. </p> <p>Agents are automatically updated by Amazon Web Services on a regular basis, using a mechanism that ensures minimal interruption to your tasks.</p> <p/>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateAgentRequest" },
      "name": "CreateAgent",
      "output": { "shape": "CreateAgentResponse" }
    },
    "CreateLocationEfs": {
      "documentation": "<p>Creates an endpoint for an Amazon EFS file system that DataSync can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html\">Creating a location for Amazon EFS</a>.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateLocationEfsRequest" },
      "name": "CreateLocationEfs",
      "output": { "shape": "CreateLocationEfsResponse" }
    },
    "CreateLocationFsxLustre": {
      "documentation": "<p>Creates an endpoint for an Amazon FSx for Lustre file system.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateLocationFsxLustreRequest" },
      "name": "CreateLocationFsxLustre",
      "output": { "shape": "CreateLocationFsxLustreResponse" }
    },
    "CreateLocationFsxOpenZfs": {
      "documentation": "<p>Creates an endpoint for an Amazon FSx for OpenZFS file system.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateLocationFsxOpenZfsRequest" },
      "name": "CreateLocationFsxOpenZfs",
      "output": { "shape": "CreateLocationFsxOpenZfsResponse" }
    },
    "CreateLocationFsxWindows": {
      "documentation": "<p>Creates an endpoint for an Amazon FSx for Windows File Server file system.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateLocationFsxWindowsRequest" },
      "name": "CreateLocationFsxWindows",
      "output": { "shape": "CreateLocationFsxWindowsResponse" }
    },
    "CreateLocationHdfs": {
      "documentation": "<p>Creates an endpoint for a Hadoop Distributed File System (HDFS). </p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateLocationHdfsRequest" },
      "name": "CreateLocationHdfs",
      "output": { "shape": "CreateLocationHdfsResponse" }
    },
    "CreateLocationNfs": {
      "documentation": "<p>Defines a file system on a Network File System (NFS) server that can be read from or written to.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateLocationNfsRequest" },
      "name": "CreateLocationNfs",
      "output": { "shape": "CreateLocationNfsResponse" }
    },
    "CreateLocationObjectStorage": {
      "documentation": "<p>Creates an endpoint for a self-managed object storage bucket. For more information about self-managed object storage locations, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object storage</a>.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateLocationObjectStorageRequest" },
      "name": "CreateLocationObjectStorage",
      "output": { "shape": "CreateLocationObjectStorageResponse" }
    },
    "CreateLocationS3": {
      "documentation": "<p>Creates an endpoint for an Amazon S3 bucket.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-locations-cli.html#create-location-s3-cli\">Create an Amazon S3 location</a> in the <i>DataSync User Guide</i>.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateLocationS3Request" },
      "name": "CreateLocationS3",
      "output": { "shape": "CreateLocationS3Response" }
    },
    "CreateLocationSmb": {
      "documentation": "<p>Defines a file system on a Server Message Block (SMB) server that can be read from or written to.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateLocationSmbRequest" },
      "name": "CreateLocationSmb",
      "output": { "shape": "CreateLocationSmbResponse" }
    },
    "CreateTask": {
      "documentation": "<p>Creates a task.</p> <p>A task includes a source location and a destination location, and a configuration that specifies how data is transferred. A task always transfers data from the source location to the destination location. The configuration specifies options such as task scheduling, bandwidth limits, etc. A task is the complete definition of a data transfer.</p> <p>When you create a task that transfers data between Amazon Web Services services in different Amazon Web Services Regions, one of the two locations that you specify must reside in the Region where DataSync is being used. The other location must be specified in a different Region.</p> <p>You can transfer data between commercial Amazon Web Services Regions except for China, or between Amazon Web Services GovCloud (US) Regions.</p> <important> <p>When you use DataSync to copy files or objects between Amazon Web Services Regions, you pay for data transfer between Regions. This is billed as data transfer OUT from your source Region to your destination Region. For more information, see <a href=\"http://aws.amazon.com/ec2/pricing/on-demand/#Data_Transfer\">Data Transfer pricing</a>. </p> </important>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateTaskRequest" },
      "name": "CreateTask",
      "output": { "shape": "CreateTaskResponse" }
    },
    "DeleteAgent": {
      "documentation": "<p>Deletes an agent. To specify which agent to delete, use the Amazon Resource Name (ARN) of the agent in your request. The operation disassociates the agent from your Amazon Web Services account. However, it doesn't delete the agent virtual machine (VM) from your on-premises environment.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DeleteAgentRequest" },
      "name": "DeleteAgent",
      "output": { "shape": "DeleteAgentResponse" }
    },
    "DeleteLocation": {
      "documentation": "<p>Deletes the configuration of a location used by DataSync. </p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DeleteLocationRequest" },
      "name": "DeleteLocation",
      "output": { "shape": "DeleteLocationResponse" }
    },
    "DeleteTask": {
      "documentation": "<p>Deletes a task.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DeleteTaskRequest" },
      "name": "DeleteTask",
      "output": { "shape": "DeleteTaskResponse" }
    },
    "DescribeAgent": {
      "documentation": "<p>Returns metadata such as the name, the network interfaces, and the status (that is, whether the agent is running or not) for an agent. To specify which agent to describe, use the Amazon Resource Name (ARN) of the agent in your request. </p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeAgentRequest" },
      "name": "DescribeAgent",
      "output": { "shape": "DescribeAgentResponse" }
    },
    "DescribeLocationEfs": {
      "documentation": "<p>Returns metadata about your DataSync location for an Amazon EFS file system.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeLocationEfsRequest" },
      "name": "DescribeLocationEfs",
      "output": { "shape": "DescribeLocationEfsResponse" }
    },
    "DescribeLocationFsxLustre": {
      "documentation": "<p>Returns metadata about an Amazon FSx for Lustre location, such as information about its path.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeLocationFsxLustreRequest" },
      "name": "DescribeLocationFsxLustre",
      "output": { "shape": "DescribeLocationFsxLustreResponse" }
    },
    "DescribeLocationFsxOpenZfs": {
      "documentation": "<p>Returns metadata about an Amazon FSx for OpenZFS location, such as information about its path.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeLocationFsxOpenZfsRequest" },
      "name": "DescribeLocationFsxOpenZfs",
      "output": { "shape": "DescribeLocationFsxOpenZfsResponse" }
    },
    "DescribeLocationFsxWindows": {
      "documentation": "<p>Returns metadata about an Amazon FSx for Windows File Server location, such as information about its path.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeLocationFsxWindowsRequest" },
      "name": "DescribeLocationFsxWindows",
      "output": { "shape": "DescribeLocationFsxWindowsResponse" }
    },
    "DescribeLocationHdfs": {
      "documentation": "<p>Returns metadata, such as the authentication information about the Hadoop Distributed File System (HDFS) location. </p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeLocationHdfsRequest" },
      "name": "DescribeLocationHdfs",
      "output": { "shape": "DescribeLocationHdfsResponse" }
    },
    "DescribeLocationNfs": {
      "documentation": "<p>Returns metadata, such as the path information, about an NFS location.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeLocationNfsRequest" },
      "name": "DescribeLocationNfs",
      "output": { "shape": "DescribeLocationNfsResponse" }
    },
    "DescribeLocationObjectStorage": {
      "documentation": "<p>Returns metadata about a self-managed object storage server location. For more information about self-managed object storage locations, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object storage</a>.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeLocationObjectStorageRequest" },
      "name": "DescribeLocationObjectStorage",
      "output": { "shape": "DescribeLocationObjectStorageResponse" }
    },
    "DescribeLocationS3": {
      "documentation": "<p>Returns metadata, such as bucket name, about an Amazon S3 bucket location.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeLocationS3Request" },
      "name": "DescribeLocationS3",
      "output": { "shape": "DescribeLocationS3Response" }
    },
    "DescribeLocationSmb": {
      "documentation": "<p>Returns metadata, such as the path and user information about an SMB location.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeLocationSmbRequest" },
      "name": "DescribeLocationSmb",
      "output": { "shape": "DescribeLocationSmbResponse" }
    },
    "DescribeTask": {
      "documentation": "<p>Returns metadata about a task.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeTaskRequest" },
      "name": "DescribeTask",
      "output": { "shape": "DescribeTaskResponse" }
    },
    "DescribeTaskExecution": {
      "documentation": "<p>Returns detailed metadata about a task that is being executed.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeTaskExecutionRequest" },
      "name": "DescribeTaskExecution",
      "output": { "shape": "DescribeTaskExecutionResponse" }
    },
    "ListAgents": {
      "documentation": "<p>Returns a list of agents owned by an Amazon Web Services account in the Amazon Web Services Region specified in the request. The returned list is ordered by agent Amazon Resource Name (ARN).</p> <p>By default, this operation returns a maximum of 100 agents. This operation supports pagination that enables you to optionally reduce the number of agents returned in a response.</p> <p>If you have more agents than are returned in a response (that is, the response returns only a truncated list of your agents), the response contains a marker that you can specify in your next request to fetch the next page of agents.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListAgentsRequest" },
      "name": "ListAgents",
      "output": { "shape": "ListAgentsResponse" }
    },
    "ListLocations": {
      "documentation": "<p>Returns a list of source and destination locations.</p> <p>If you have more locations than are returned in a response (that is, the response returns only a truncated list of your agents), the response contains a token that you can specify in your next request to fetch the next page of locations.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListLocationsRequest" },
      "name": "ListLocations",
      "output": { "shape": "ListLocationsResponse" }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns all the tags associated with a specified resource. </p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListTagsForResourceRequest" },
      "name": "ListTagsForResource",
      "output": { "shape": "ListTagsForResourceResponse" }
    },
    "ListTaskExecutions": {
      "documentation": "<p>Returns a list of executed tasks.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListTaskExecutionsRequest" },
      "name": "ListTaskExecutions",
      "output": { "shape": "ListTaskExecutionsResponse" }
    },
    "ListTasks": {
      "documentation": "<p>Returns a list of all the tasks.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListTasksRequest" },
      "name": "ListTasks",
      "output": { "shape": "ListTasksResponse" }
    },
    "StartTaskExecution": {
      "documentation": "<p>Starts a specific invocation of a task. A <code>TaskExecution</code> value represents an individual run of a task. Each task can have at most one <code>TaskExecution</code> at a time.</p> <p> <code>TaskExecution</code> has the following transition phases: INITIALIZING | PREPARING | TRANSFERRING | VERIFYING | SUCCESS/FAILURE. </p> <p>For detailed information, see the Task Execution section in the Components and Terminology topic in the <i>DataSync User Guide</i>.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "StartTaskExecutionRequest" },
      "name": "StartTaskExecution",
      "output": { "shape": "StartTaskExecutionResponse" }
    },
    "TagResource": {
      "documentation": "<p>Applies a key-value pair to an Amazon Web Services resource.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "TagResourceRequest" },
      "name": "TagResource",
      "output": { "shape": "TagResourceResponse" }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from an Amazon Web Services resource.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UntagResourceRequest" },
      "name": "UntagResource",
      "output": { "shape": "UntagResourceResponse" }
    },
    "UpdateAgent": {
      "documentation": "<p>Updates the name of an agent.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UpdateAgentRequest" },
      "name": "UpdateAgent",
      "output": { "shape": "UpdateAgentResponse" }
    },
    "UpdateLocationHdfs": {
      "documentation": "<p>Updates some parameters of a previously created location for a Hadoop Distributed File System cluster.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UpdateLocationHdfsRequest" },
      "name": "UpdateLocationHdfs",
      "output": { "shape": "UpdateLocationHdfsResponse" }
    },
    "UpdateLocationNfs": {
      "documentation": "<p>Updates some of the parameters of a previously created location for Network File System (NFS) access. For information about creating an NFS location, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html\">Creating a location for NFS</a>.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UpdateLocationNfsRequest" },
      "name": "UpdateLocationNfs",
      "output": { "shape": "UpdateLocationNfsResponse" }
    },
    "UpdateLocationObjectStorage": {
      "documentation": "<p>Updates some of the parameters of a previously created location for self-managed object storage server access. For information about creating a self-managed object storage location, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object storage</a>.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UpdateLocationObjectStorageRequest" },
      "name": "UpdateLocationObjectStorage",
      "output": { "shape": "UpdateLocationObjectStorageResponse" }
    },
    "UpdateLocationSmb": {
      "documentation": "<p>Updates some of the parameters of a previously created location for Server Message Block (SMB) file system access. For information about creating an SMB location, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html\">Creating a location for SMB</a>.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UpdateLocationSmbRequest" },
      "name": "UpdateLocationSmb",
      "output": { "shape": "UpdateLocationSmbResponse" }
    },
    "UpdateTask": {
      "documentation": "<p>Updates the metadata associated with a task.</p>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UpdateTaskRequest" },
      "name": "UpdateTask",
      "output": { "shape": "UpdateTaskResponse" }
    },
    "UpdateTaskExecution": {
      "documentation": "<p>Updates execution of a task.</p> <p>You can modify bandwidth throttling for a task execution that is running or queued. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/working-with-task-executions.html#adjust-bandwidth-throttling\">Adjusting Bandwidth Throttling for a Task Execution</a>.</p> <note> <p>The only <code>Option</code> that can be modified by <code>UpdateTaskExecution</code> is <code> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_Options.html#DataSync-Type-Options-BytesPerSecond\">BytesPerSecond</a> </code>.</p> </note>",
      "errors": [{ "shape": "InvalidRequestException" }, { "shape": "InternalException" }],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UpdateTaskExecutionRequest" },
      "name": "UpdateTaskExecution",
      "output": { "shape": "UpdateTaskExecutionResponse" }
    }
  },
  "shapes": {
    "ActivationKey": {
      "max": 29,
      "pattern": "[A-Z0-9]{5}(-[A-Z0-9]{5}){4}",
      "type": "string"
    },
    "AgentArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:agent/agent-[0-9a-z]{17}$",
      "type": "string"
    },
    "AgentArnList": {
      "max": 4,
      "member": { "shape": "AgentArn" },
      "min": 1,
      "type": "list"
    },
    "AgentList": {
      "member": { "shape": "AgentListEntry" },
      "type": "list"
    },
    "AgentListEntry": {
      "documentation": "<p>Represents a single entry in a list of agents. <code>AgentListEntry</code> returns an array that contains a list of agents when the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a> operation is called.</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent.</p>",
          "shape": "AgentArn"
        },
        "Name": {
          "documentation": "<p>The name of the agent.</p>",
          "shape": "TagValue"
        },
        "Status": {
          "documentation": "<p>The status of the agent.</p>",
          "shape": "AgentStatus"
        }
      },
      "type": "structure"
    },
    "AgentStatus": {
      "enum": ["ONLINE", "OFFLINE"],
      "type": "string"
    },
    "Atime": {
      "enum": ["NONE", "BEST_EFFORT"],
      "type": "string"
    },
    "BytesPerSecond": {
      "min": -1,
      "type": "long"
    },
    "CancelTaskExecutionRequest": {
      "documentation": "<p>CancelTaskExecutionRequest</p>",
      "members": {
        "TaskExecutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>",
          "shape": "TaskExecutionArn"
        }
      },
      "required": ["TaskExecutionArn"],
      "type": "structure"
    },
    "CancelTaskExecutionResponse": {
      "members": {},
      "type": "structure"
    },
    "CreateAgentRequest": {
      "documentation": "<p>CreateAgentRequest</p>",
      "members": {
        "ActivationKey": {
          "documentation": "<p>Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the DataSync console.</p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent.</p> <p>For more information, see Activating an Agent in the <i>DataSync User Guide.</i> </p>",
          "shape": "ActivationKey"
        },
        "AgentName": {
          "documentation": "<p>The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.</p>",
          "shape": "TagValue"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The ARNs of the security groups used to protect your data transfer task subnets. See <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_Ec2Config.html#DataSync-Type-Ec2Config-SecurityGroupArns\">SecurityGroupArns</a>.</p>",
          "shape": "PLSecurityGroupArnList"
        },
        "SubnetArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the subnets in which DataSync will create elastic network interfaces for each data transfer task. The agent that runs a task must be private. When you start a task that is associated with an agent created in a VPC, or one that has access to an IP address in a VPC, then the task is also private. In this case, DataSync creates four network interfaces for each task in your subnet. For a data transfer to work, the agent must be able to route to all these four network interfaces.</p>",
          "shape": "PLSubnetArnList"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to associate with the agent. The value can be an empty string. This value helps you manage, filter, and search for your agents.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @. </p> </note>",
          "shape": "InputTagList"
        },
        "VpcEndpointId": {
          "documentation": "<p>The ID of the VPC (virtual private cloud) endpoint that the agent has access to. This is the client-side VPC endpoint, also called a PrivateLink. If you don't have a PrivateLink VPC endpoint, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/endpoint-service.html#create-endpoint-service\">Creating a VPC Endpoint Service Configuration</a> in the Amazon VPC User Guide.</p> <p>VPC endpoint ID looks like this: <code>vpce-01234d5aff67890e1</code>.</p>",
          "shape": "VpcEndpointId"
        }
      },
      "required": ["ActivationKey"],
      "type": "structure"
    },
    "CreateAgentResponse": {
      "documentation": "<p>CreateAgentResponse</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent. Use the <code>ListAgents</code> operation to return a list of agents for your account and Amazon Web Services Region.</p>",
          "shape": "AgentArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationEfsRequest": {
      "documentation": "<p>CreateLocationEfsRequest</p>",
      "members": {
        "AccessPointArn": {
          "documentation": "<p>Specifies the Amazon Resource Name (ARN) of the access point that DataSync uses to access the Amazon EFS file system.</p>",
          "shape": "EfsAccessPointArn"
        },
        "Ec2Config": {
          "documentation": "<p>Specifies the subnet and security groups DataSync uses to access your Amazon EFS file system.</p>",
          "shape": "Ec2Config"
        },
        "EfsFilesystemArn": {
          "documentation": "<p>Specifies the ARN for the Amazon EFS file system.</p>",
          "shape": "EfsFilesystemArn"
        },
        "FileSystemAccessRoleArn": {
          "documentation": "<p>Specifies an Identity and Access Management (IAM) role that DataSync assumes when mounting the Amazon EFS file system.</p>",
          "shape": "IamRoleArn"
        },
        "InTransitEncryption": {
          "documentation": "<p>Specifies whether you want DataSync to use TLS encryption when transferring data to or from your Amazon EFS file system.</p> <p>If you specify an access point using <code>AccessPointArn</code> or an IAM role using <code>FileSystemAccessRoleArn</code>, you must set this parameter to <code>TLS1_2</code>.</p>",
          "shape": "EfsInTransitEncryption"
        },
        "Subdirectory": {
          "documentation": "<p>Specifies a mount path for your Amazon EFS file system. This is where DataSync reads or writes data (depending on if this is a source or destination location). By default, DataSync uses the root directory, but you can also include subdirectories.</p> <note> <p>You must specify a value with forward slashes (for example, <code>/path/to/folder</code>).</p> </note>",
          "shape": "EfsSubdirectory"
        },
        "Tags": {
          "documentation": "<p>Specifies the key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>",
          "shape": "InputTagList"
        }
      },
      "required": ["EfsFilesystemArn", "Ec2Config"],
      "type": "structure"
    },
    "CreateLocationEfsResponse": {
      "documentation": "<p>CreateLocationEfs</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you create.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationFsxLustreRequest": {
      "members": {
        "FsxFilesystemArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the FSx for Lustre file system.</p>",
          "shape": "FsxFilesystemArn"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are used to configure the FSx for Lustre file system.</p>",
          "shape": "Ec2SecurityGroupArnList"
        },
        "Subdirectory": {
          "documentation": "<p>A subdirectory in the location's path. This subdirectory in the FSx for Lustre file system is used to read data from the FSx for Lustre source location or write data to the FSx for Lustre destination.</p>",
          "shape": "FsxLustreSubdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>",
          "shape": "InputTagList"
        }
      },
      "required": ["FsxFilesystemArn", "SecurityGroupArns"],
      "type": "structure"
    },
    "CreateLocationFsxLustreResponse": {
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Lustre file system location that's created. </p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationFsxOpenZfsRequest": {
      "members": {
        "FsxFilesystemArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS file system.</p>",
          "shape": "FsxFilesystemArn"
        },
        "Protocol": {
          "documentation": "<p>The type of protocol that DataSync uses to access your file system.</p>",
          "shape": "FsxProtocol"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The ARNs of the security groups that are used to configure the FSx for OpenZFS file system.</p>",
          "shape": "Ec2SecurityGroupArnList"
        },
        "Subdirectory": {
          "documentation": "<p>A subdirectory in the location's path that must begin with <code>/fsx</code>. DataSync uses this subdirectory to read or write data (depending on whether the file system is a source or destination location).</p>",
          "shape": "FsxOpenZfsSubdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>",
          "shape": "InputTagList"
        }
      },
      "required": ["FsxFilesystemArn", "Protocol", "SecurityGroupArns"],
      "type": "structure"
    },
    "CreateLocationFsxOpenZfsResponse": {
      "members": {
        "LocationArn": {
          "documentation": "<p>The ARN of the FSx for OpenZFS file system location that you created.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationFsxWindowsRequest": {
      "members": {
        "Domain": {
          "documentation": "<p>The name of the Windows domain that the FSx for Windows File Server belongs to.</p>",
          "shape": "SmbDomain"
        },
        "FsxFilesystemArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the FSx for Windows File Server file system.</p>",
          "shape": "FsxFilesystemArn"
        },
        "Password": {
          "documentation": "<p>The password of the user who has the permissions to access files and folders in the FSx for Windows File Server file system.</p>",
          "shape": "SmbPassword"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The ARNs of the security groups that are used to configure the FSx for Windows File Server file system.</p>",
          "shape": "Ec2SecurityGroupArnList"
        },
        "Subdirectory": {
          "documentation": "<p>A subdirectory in the location's path. This subdirectory in the Amazon FSx for Windows File Server file system is used to read data from the Amazon FSx for Windows File Server source location or write data to the FSx for Windows File Server destination.</p>",
          "shape": "FsxWindowsSubdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>",
          "shape": "InputTagList"
        },
        "User": {
          "documentation": "<p>The user who has the permissions to access files and folders in the FSx for Windows File Server file system.</p> <p>For information about choosing a user name that ensures sufficient permissions to files, folders, and metadata, see <a href=\"create-fsx-location.html#FSxWuser\">user</a>.</p>",
          "shape": "SmbUser"
        }
      },
      "required": ["FsxFilesystemArn", "SecurityGroupArns", "User", "Password"],
      "type": "structure"
    },
    "CreateLocationFsxWindowsResponse": {
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server file system location you created.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationHdfsRequest": {
      "members": {
        "AgentArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the agents that are used to connect to the HDFS cluster.</p>",
          "shape": "AgentArnList"
        },
        "AuthenticationType": {
          "documentation": "<p>The type of authentication used to determine the identity of the user. </p>",
          "shape": "HdfsAuthenticationType"
        },
        "BlockSize": {
          "documentation": "<p>The size of data blocks to write into the HDFS cluster. The block size must be a multiple of 512 bytes. The default block size is 128 mebibytes (MiB).</p>",
          "shape": "HdfsBlockSize"
        },
        "KerberosKeytab": {
          "documentation": "<p>The Kerberos key table (keytab) that contains mappings between the defined Kerberos principal and the encrypted keys. You can load the keytab from a file by providing the file's address. If you're using the CLI, it performs base64 encoding for you. Otherwise, provide the base64-encoded text. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required. </p> </note>",
          "shape": "KerberosKeytabFile"
        },
        "KerberosKrb5Conf": {
          "documentation": "<p>The <code>krb5.conf</code> file that contains the Kerberos configuration information. You can load the <code>krb5.conf</code> file by providing the file's address. If you're using the CLI, it performs the base64 encoding for you. Otherwise, provide the base64-encoded text. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required.</p> </note>",
          "shape": "KerberosKrb5ConfFile"
        },
        "KerberosPrincipal": {
          "documentation": "<p>The Kerberos principal with access to the files and folders on the HDFS cluster. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required.</p> </note>",
          "shape": "KerberosPrincipal"
        },
        "KmsKeyProviderUri": {
          "documentation": "<p>The URI of the HDFS cluster's Key Management Server (KMS). </p>",
          "shape": "KmsKeyProviderUri"
        },
        "NameNodes": {
          "documentation": "<p>The NameNode that manages the HDFS namespace. The NameNode performs operations such as opening, closing, and renaming files and directories. The NameNode contains the information to map blocks of data to the DataNodes. You can use only one NameNode.</p>",
          "shape": "HdfsNameNodeList"
        },
        "QopConfiguration": {
          "documentation": "<p>The Quality of Protection (QOP) configuration specifies the Remote Procedure Call (RPC) and data transfer protection settings configured on the Hadoop Distributed File System (HDFS) cluster. If <code>QopConfiguration</code> isn't specified, <code>RpcProtection</code> and <code>DataTransferProtection</code> default to <code>PRIVACY</code>. If you set <code>RpcProtection</code> or <code>DataTransferProtection</code>, the other parameter assumes the same value. </p>",
          "shape": "QopConfiguration"
        },
        "ReplicationFactor": {
          "documentation": "<p>The number of DataNodes to replicate the data to when writing to the HDFS cluster. By default, data is replicated to three DataNodes.</p>",
          "shape": "HdfsReplicationFactor"
        },
        "SimpleUser": {
          "documentation": "<p>The user name used to identify the client on the host operating system. </p> <note> <p>If <code>SIMPLE</code> is specified for <code>AuthenticationType</code>, this parameter is required. </p> </note>",
          "shape": "HdfsUser"
        },
        "Subdirectory": {
          "documentation": "<p>A subdirectory in the HDFS cluster. This subdirectory is used to read data from or write data to the HDFS cluster. If the subdirectory isn't specified, it will default to <code>/</code>.</p>",
          "shape": "HdfsSubdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources. </p>",
          "shape": "InputTagList"
        }
      },
      "required": ["NameNodes", "AuthenticationType", "AgentArns"],
      "type": "structure"
    },
    "CreateLocationHdfsResponse": {
      "members": {
        "LocationArn": {
          "documentation": "<p>The ARN of the source HDFS cluster location that's created. </p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationNfsRequest": {
      "documentation": "<p>CreateLocationNfsRequest</p>",
      "members": {
        "MountOptions": {
          "documentation": "<p>The NFS mount options that DataSync can use to mount your NFS share.</p>",
          "shape": "NfsMountOptions"
        },
        "OnPremConfig": {
          "documentation": "<p>Contains a list of Amazon Resource Names (ARNs) of agents that are used to connect to an NFS server. </p> <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p>",
          "shape": "OnPremConfig"
        },
        "ServerHostname": {
          "documentation": "<p>The name of the NFS server. This value is the IP address or Domain Name Service (DNS) name of the NFS server. An agent that is installed on-premises uses this hostname to mount the NFS server in a network. </p> <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p> <note> <p>This name must either be DNS-compliant or must be an IP version 4 (IPv4) address.</p> </note>",
          "shape": "ServerHostname"
        },
        "Subdirectory": {
          "documentation": "<p>The subdirectory in the NFS file system that is used to read data from the NFS source location or write data to the NFS destination. The NFS path should be a path that's exported by the NFS server, or a subdirectory of that path. The path should be such that it can be mounted by other NFS clients in your network. </p> <p>To see all the paths exported by your NFS server, run \"<code>showmount -e nfs-server-name</code>\" from an NFS client that has access to your server. You can specify any directory that appears in the results, and any subdirectory of that directory. Ensure that the NFS export is accessible without Kerberos authentication. </p> <p>To transfer all the data in the folder you specified, DataSync needs to have permissions to read all the data. To ensure this, either configure the NFS export with <code>no_root_squash,</code> or ensure that the permissions for all of the files that you want DataSync allow read access for all users. Doing either enables the agent to read the files. For the agent to access directories, you must additionally enable all execute access.</p> <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p> <p>For information about NFS export configuration, see 18.7. The /etc/exports Configuration File in the Red Hat Enterprise Linux documentation.</p>",
          "shape": "NfsSubdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>",
          "shape": "InputTagList"
        }
      },
      "required": ["Subdirectory", "ServerHostname", "OnPremConfig"],
      "type": "structure"
    },
    "CreateLocationNfsResponse": {
      "documentation": "<p>CreateLocationNfsResponse</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source NFS file system location that is created.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationObjectStorageRequest": {
      "documentation": "<p>CreateLocationObjectStorageRequest</p>",
      "members": {
        "AccessKey": {
          "documentation": "<p>Optional. The access key is used if credentials are required to access the self-managed object storage server. If your object storage requires a user name and password to authenticate, use <code>AccessKey</code> and <code>SecretKey</code> to provide the user name and password, respectively.</p>",
          "shape": "ObjectStorageAccessKey"
        },
        "AgentArns": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agents associated with the self-managed object storage server location.</p>",
          "shape": "AgentArnList"
        },
        "BucketName": {
          "documentation": "<p>The bucket on the self-managed object storage server that is used to read data from.</p>",
          "shape": "ObjectStorageBucketName"
        },
        "SecretKey": {
          "documentation": "<p>Optional. The secret key is used if credentials are required to access the self-managed object storage server. If your object storage requires a user name and password to authenticate, use <code>AccessKey</code> and <code>SecretKey</code> to provide the user name and password, respectively.</p>",
          "shape": "ObjectStorageSecretKey"
        },
        "ServerHostname": {
          "documentation": "<p>The name of the self-managed object storage server. This value is the IP address or Domain Name Service (DNS) name of the object storage server. An agent uses this hostname to mount the object storage server in a network. </p>",
          "shape": "ServerHostname"
        },
        "ServerPort": {
          "documentation": "<p>The port that your self-managed object storage server accepts inbound network traffic on. The server port is set by default to TCP 80 (HTTP) or TCP 443 (HTTPS). You can specify a custom port if your self-managed object storage server requires one.</p>",
          "shape": "ObjectStorageServerPort"
        },
        "ServerProtocol": {
          "documentation": "<p>The protocol that the object storage server uses to communicate. Valid values are HTTP or HTTPS.</p>",
          "shape": "ObjectStorageServerProtocol"
        },
        "Subdirectory": {
          "documentation": "<p>The subdirectory in the self-managed object storage server that is used to read data from.</p>",
          "shape": "S3Subdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>",
          "shape": "InputTagList"
        }
      },
      "required": ["ServerHostname", "BucketName", "AgentArns"],
      "type": "structure"
    },
    "CreateLocationObjectStorageResponse": {
      "documentation": "<p>CreateLocationObjectStorageResponse</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agents associated with the self-managed object storage server location.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationS3Request": {
      "documentation": "<p>CreateLocationS3Request</p>",
      "members": {
        "AgentArns": {
          "documentation": "<p>If you're using DataSync on an Amazon Web Services Outpost, specify the Amazon Resource Names (ARNs) of the DataSync agents deployed on your Outpost. For more information about launching a DataSync agent on an Amazon Web Services Outpost, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent on Outposts</a>.</p>",
          "shape": "AgentArnList"
        },
        "S3BucketArn": {
          "documentation": "<p>The ARN of the Amazon S3 bucket. If the bucket is on an Amazon Web Services Outpost, this must be an access point ARN.</p>",
          "shape": "S3BucketArn"
        },
        "S3Config": { "shape": "S3Config" },
        "S3StorageClass": {
          "documentation": "<p>The Amazon S3 storage class that you want to store your files in when this location is used as a task destination. For buckets in Amazon Web Services Regions, the storage class defaults to Standard. For buckets on Outposts, the storage class defaults to Amazon Web Services S3 Outposts.</p> <p>For more information about S3 storage classes, see <a href=\"http://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a>. Some storage classes have behaviors that can affect your S3 storage cost. For detailed information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Considerations when working with S3 storage classes in DataSync</a>.</p>",
          "shape": "S3StorageClass"
        },
        "Subdirectory": {
          "documentation": "<p>A subdirectory in the Amazon S3 bucket. This subdirectory in Amazon S3 is used to read data from the S3 source location or write data to the S3 destination.</p>",
          "shape": "S3Subdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>",
          "shape": "InputTagList"
        }
      },
      "required": ["S3BucketArn", "S3Config"],
      "type": "structure"
    },
    "CreateLocationS3Response": {
      "documentation": "<p>CreateLocationS3Response</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source Amazon S3 bucket location that is created.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationSmbRequest": {
      "documentation": "<p>CreateLocationSmbRequest</p>",
      "members": {
        "AgentArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of agents to use for a Simple Message Block (SMB) location. </p>",
          "shape": "AgentArnList"
        },
        "Domain": {
          "documentation": "<p>The name of the Windows domain that the SMB server belongs to.</p>",
          "shape": "SmbDomain"
        },
        "MountOptions": {
          "documentation": "<p>The mount options used by DataSync to access the SMB server.</p>",
          "shape": "SmbMountOptions"
        },
        "Password": {
          "documentation": "<p>The password of the user who can mount the share, has the permissions to access files and folders in the SMB share.</p>",
          "shape": "SmbPassword"
        },
        "ServerHostname": {
          "documentation": "<p>The name of the SMB server. This value is the IP address or Domain Name Service (DNS) name of the SMB server. An agent that is installed on-premises uses this hostname to mount the SMB server in a network.</p> <note> <p>This name must either be DNS-compliant or must be an IP version 4 (IPv4) address.</p> </note>",
          "shape": "ServerHostname"
        },
        "Subdirectory": {
          "documentation": "<p>The subdirectory in the SMB file system that is used to read data from the SMB source location or write data to the SMB destination. The SMB path should be a path that's exported by the SMB server, or a subdirectory of that path. The path should be such that it can be mounted by other SMB clients in your network.</p> <note> <p> <code>Subdirectory</code> must be specified with forward slashes. For example, <code>/path/to/folder</code>.</p> </note> <p>To transfer all the data in the folder you specified, DataSync needs to have permissions to mount the SMB share, as well as to access all the data in that share. To ensure this, either ensure that the user/password specified belongs to the user who can mount the share, and who has the appropriate permissions for all of the files and directories that you want DataSync to access, or use credentials of a member of the Backup Operators group to mount the share. Doing either enables the agent to access the data. For the agent to access directories, you must additionally enable all execute access.</p>",
          "shape": "SmbSubdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>",
          "shape": "InputTagList"
        },
        "User": {
          "documentation": "<p>The user who can mount the share, has the permissions to access files and folders in the SMB share.</p> <p>For information about choosing a user name that ensures sufficient permissions to files, folders, and metadata, see <a href=\"create-smb-location.html#SMBuser\">user</a>.</p>",
          "shape": "SmbUser"
        }
      },
      "required": ["Subdirectory", "ServerHostname", "User", "Password", "AgentArns"],
      "type": "structure"
    },
    "CreateLocationSmbResponse": {
      "documentation": "<p>CreateLocationSmbResponse</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source SMB file system location that is created.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateTaskRequest": {
      "documentation": "<p>CreateTaskRequest</p>",
      "members": {
        "CloudWatchLogGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that is used to monitor and log events in the task. </p>",
          "shape": "LogGroupArn"
        },
        "DestinationLocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an Amazon Web Services storage resource's location. </p>",
          "shape": "LocationArn"
        },
        "Excludes": {
          "documentation": "<p>A list of filter rules that determines which files to exclude from a task. The list should contain a single filter string that consists of the patterns to exclude. The patterns are delimited by \"|\" (that is, a pipe), for example, <code>\"/folder1|/folder2\"</code>. </p> <p> </p>",
          "shape": "FilterList"
        },
        "Includes": {
          "documentation": "<p>A list of filter rules that determines which files to include when running a task. The pattern contains a single filter string that consists of the patterns to include. The patterns are delimited by \"|\" (that is, a pipe), for example, <code>\"/folder1|/folder2\"</code>.</p>",
          "shape": "FilterList"
        },
        "Name": {
          "documentation": "<p>The name of a task. This value is a text reference that is used to identify the task in the console. </p>",
          "shape": "TagValue"
        },
        "Options": {
          "documentation": "<p>The set of configuration options that control the behavior of a single execution of the task that occurs when you call <code>StartTaskExecution</code>. You can configure these options to preserve metadata such as user ID (UID) and group ID (GID), file permissions, data integrity verification, and so on.</p> <p>For each individual task execution, you can override these options by specifying the <code>OverrideOptions</code> before starting the task execution. For more information, see the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_StartTaskExecution.html\">StartTaskExecution</a> operation. </p>",
          "shape": "Options"
        },
        "Schedule": {
          "documentation": "<p>Specifies a schedule used to periodically transfer files from a source to a destination location. The schedule should be specified in UTC time. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/task-scheduling.html\">Scheduling your task</a>.</p>",
          "shape": "TaskSchedule"
        },
        "SourceLocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source location for the task.</p>",
          "shape": "LocationArn"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to add to the resource. The value can be an empty string. </p>",
          "shape": "InputTagList"
        }
      },
      "required": ["SourceLocationArn", "DestinationLocationArn"],
      "type": "structure"
    },
    "CreateTaskResponse": {
      "documentation": "<p>CreateTaskResponse</p>",
      "members": {
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task.</p>",
          "shape": "TaskArn"
        }
      },
      "type": "structure"
    },
    "DeleteAgentRequest": {
      "documentation": "<p>DeleteAgentRequest</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent to delete. Use the <code>ListAgents</code> operation to return a list of agents for your account and Amazon Web Services Region.</p>",
          "shape": "AgentArn"
        }
      },
      "required": ["AgentArn"],
      "type": "structure"
    },
    "DeleteAgentResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteLocationRequest": {
      "documentation": "<p>DeleteLocation</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the location to delete.</p>",
          "shape": "LocationArn"
        }
      },
      "required": ["LocationArn"],
      "type": "structure"
    },
    "DeleteLocationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteTaskRequest": {
      "documentation": "<p>DeleteTask</p>",
      "members": {
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task to delete.</p>",
          "shape": "TaskArn"
        }
      },
      "required": ["TaskArn"],
      "type": "structure"
    },
    "DeleteTaskResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeAgentRequest": {
      "documentation": "<p>DescribeAgent</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent to describe.</p>",
          "shape": "AgentArn"
        }
      },
      "required": ["AgentArn"],
      "type": "structure"
    },
    "DescribeAgentResponse": {
      "documentation": "<p>DescribeAgentResponse</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent.</p>",
          "shape": "AgentArn"
        },
        "CreationTime": {
          "documentation": "<p>The time that the agent was activated (that is, created in your account).</p>",
          "shape": "Time"
        },
        "EndpointType": {
          "documentation": "<p>The type of endpoint that your agent is connected to. If the endpoint is a VPC endpoint, the agent is not accessible over the public internet. </p>",
          "shape": "EndpointType"
        },
        "LastConnectionTime": {
          "documentation": "<p>The time that the agent last connected to DataSync.</p>",
          "shape": "Time"
        },
        "Name": {
          "documentation": "<p>The name of the agent.</p>",
          "shape": "TagValue"
        },
        "PrivateLinkConfig": {
          "documentation": "<p>The subnet and the security group that DataSync used to access a VPC endpoint.</p>",
          "shape": "PrivateLinkConfig"
        },
        "Status": {
          "documentation": "<p>The status of the agent. If the status is ONLINE, then the agent is configured properly and is available to use. The Running status is the normal running status for an agent. If the status is OFFLINE, the agent's VM is turned off or the agent is in an unhealthy state. When the issue that caused the unhealthy state is resolved, the agent returns to ONLINE status.</p>",
          "shape": "AgentStatus"
        }
      },
      "type": "structure"
    },
    "DescribeLocationEfsRequest": {
      "documentation": "<p>DescribeLocationEfsRequest</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you want information about.</p>",
          "shape": "LocationArn"
        }
      },
      "required": ["LocationArn"],
      "type": "structure"
    },
    "DescribeLocationEfsResponse": {
      "documentation": "<p>DescribeLocationEfsResponse</p>",
      "members": {
        "AccessPointArn": {
          "documentation": "<p>The ARN of the access point that DataSync uses to access the Amazon EFS file system.</p>",
          "shape": "EfsAccessPointArn"
        },
        "CreationTime": {
          "documentation": "<p>The time that the location was created.</p>",
          "shape": "Time"
        },
        "Ec2Config": { "shape": "Ec2Config" },
        "FileSystemAccessRoleArn": {
          "documentation": "<p>The Identity and Access Management (IAM) role that DataSync assumes when mounting the Amazon EFS file system.</p>",
          "shape": "IamRoleArn"
        },
        "InTransitEncryption": {
          "documentation": "<p>Whether DataSync uses TLS encryption when transferring data to or from your Amazon EFS file system.</p>",
          "shape": "EfsInTransitEncryption"
        },
        "LocationArn": {
          "documentation": "<p>The ARN of the Amazon EFS file system location.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the Amazon EFS file system location.</p>",
          "shape": "LocationUri"
        }
      },
      "type": "structure"
    },
    "DescribeLocationFsxLustreRequest": {
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Lustre location to describe. </p>",
          "shape": "LocationArn"
        }
      },
      "required": ["LocationArn"],
      "type": "structure"
    },
    "DescribeLocationFsxLustreResponse": {
      "members": {
        "CreationTime": {
          "documentation": "<p>The time that the FSx for Lustre location was created.</p>",
          "shape": "Time"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Lustre location that was described.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URI of the FSx for Lustre location that was described.</p>",
          "shape": "LocationUri"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the FSx for Lustre file system.</p>",
          "shape": "Ec2SecurityGroupArnList"
        }
      },
      "type": "structure"
    },
    "DescribeLocationFsxOpenZfsRequest": {
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": ["LocationArn"],
      "type": "structure"
    },
    "DescribeLocationFsxOpenZfsResponse": {
      "members": {
        "CreationTime": {
          "documentation": "<p>The time that the FSx for OpenZFS location was created.</p>",
          "shape": "Time"
        },
        "LocationArn": {
          "documentation": "<p>The ARN of the FSx for OpenZFS location that was described.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The uniform resource identifier (URI) of the FSx for OpenZFS location that was described.</p> <p>Example: <code>fsxz://us-west-2.fs-1234567890abcdef02/fsx/folderA/folder</code> </p>",
          "shape": "LocationUri"
        },
        "Protocol": {
          "documentation": "<p>The type of protocol that DataSync uses to access your file system.</p>",
          "shape": "FsxProtocol"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The ARNs of the security groups that are configured for the FSx for OpenZFS file system.</p>",
          "shape": "Ec2SecurityGroupArnList"
        }
      },
      "type": "structure"
    },
    "DescribeLocationFsxWindowsRequest": {
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": ["LocationArn"],
      "type": "structure"
    },
    "DescribeLocationFsxWindowsResponse": {
      "members": {
        "CreationTime": {
          "documentation": "<p>The time that the FSx for Windows File Server location was created.</p>",
          "shape": "Time"
        },
        "Domain": {
          "documentation": "<p>The name of the Windows domain that the FSx for Windows File Server belongs to.</p>",
          "shape": "SmbDomain"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server location that was described.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the FSx for Windows File Server location that was described.</p>",
          "shape": "LocationUri"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the FSx for Windows File Server file system.</p>",
          "shape": "Ec2SecurityGroupArnList"
        },
        "User": {
          "documentation": "<p>The user who has the permissions to access files and folders in the FSx for Windows File Server file system.</p>",
          "shape": "SmbUser"
        }
      },
      "type": "structure"
    },
    "DescribeLocationHdfsRequest": {
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the HDFS cluster location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": ["LocationArn"],
      "type": "structure"
    },
    "DescribeLocationHdfsResponse": {
      "members": {
        "AgentArns": {
          "documentation": "<p>The ARNs of the agents that are used to connect to the HDFS cluster. </p>",
          "shape": "AgentArnList"
        },
        "AuthenticationType": {
          "documentation": "<p>The type of authentication used to determine the identity of the user. </p>",
          "shape": "HdfsAuthenticationType"
        },
        "BlockSize": {
          "documentation": "<p>The size of the data blocks to write into the HDFS cluster. </p>",
          "shape": "HdfsBlockSize"
        },
        "CreationTime": {
          "documentation": "<p>The time that the HDFS location was created.</p>",
          "shape": "Time"
        },
        "KerberosPrincipal": {
          "documentation": "<p>The Kerberos principal with access to the files and folders on the HDFS cluster. This parameter is used if the <code>AuthenticationType</code> is defined as <code>KERBEROS</code>.</p>",
          "shape": "KerberosPrincipal"
        },
        "KmsKeyProviderUri": {
          "documentation": "<p> The URI of the HDFS cluster's Key Management Server (KMS). </p>",
          "shape": "KmsKeyProviderUri"
        },
        "LocationArn": {
          "documentation": "<p>The ARN of the HDFS cluster location.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URI of the HDFS cluster location.</p>",
          "shape": "LocationUri"
        },
        "NameNodes": {
          "documentation": "<p>The NameNode that manage the HDFS namespace. </p>",
          "shape": "HdfsNameNodeList"
        },
        "QopConfiguration": {
          "documentation": "<p>The Quality of Protection (QOP) configuration specifies the Remote Procedure Call (RPC) and data transfer protection settings configured on the Hadoop Distributed File System (HDFS) cluster. </p>",
          "shape": "QopConfiguration"
        },
        "ReplicationFactor": {
          "documentation": "<p>The number of DataNodes to replicate the data to when writing to the HDFS cluster. </p>",
          "shape": "HdfsReplicationFactor"
        },
        "SimpleUser": {
          "documentation": "<p>The user name used to identify the client on the host operating system. This parameter is used if the <code>AuthenticationType</code> is defined as <code>SIMPLE</code>.</p>",
          "shape": "HdfsUser"
        }
      },
      "type": "structure"
    },
    "DescribeLocationNfsRequest": {
      "documentation": "<p>DescribeLocationNfsRequest</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the NFS location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": ["LocationArn"],
      "type": "structure"
    },
    "DescribeLocationNfsResponse": {
      "documentation": "<p>DescribeLocationNfsResponse</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>The time that the NFS location was created.</p>",
          "shape": "Time"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the NFS location that was described.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the source NFS location that was described.</p>",
          "shape": "LocationUri"
        },
        "MountOptions": {
          "documentation": "<p>The NFS mount options that DataSync used to mount your NFS share.</p>",
          "shape": "NfsMountOptions"
        },
        "OnPremConfig": { "shape": "OnPremConfig" }
      },
      "type": "structure"
    },
    "DescribeLocationObjectStorageRequest": {
      "documentation": "<p>DescribeLocationObjectStorageRequest</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the self-managed object storage server location that was described.</p>",
          "shape": "LocationArn"
        }
      },
      "required": ["LocationArn"],
      "type": "structure"
    },
    "DescribeLocationObjectStorageResponse": {
      "documentation": "<p>DescribeLocationObjectStorageResponse</p>",
      "members": {
        "AccessKey": {
          "documentation": "<p>Optional. The access key is used if credentials are required to access the self-managed object storage server. If your object storage requires a user name and password to authenticate, use <code>AccessKey</code> and <code>SecretKey</code> to provide the user name and password, respectively.</p>",
          "shape": "ObjectStorageAccessKey"
        },
        "AgentArns": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agents associated with the self-managed object storage server location.</p>",
          "shape": "AgentArnList"
        },
        "CreationTime": {
          "documentation": "<p>The time that the self-managed object storage server agent was created.</p>",
          "shape": "Time"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the self-managed object storage server location to describe.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the source self-managed object storage server location that was described.</p>",
          "shape": "LocationUri"
        },
        "ServerPort": {
          "documentation": "<p>The port that your self-managed object storage server accepts inbound network traffic on. The server port is set by default to TCP 80 (HTTP) or TCP 443 (HTTPS).</p>",
          "shape": "ObjectStorageServerPort"
        },
        "ServerProtocol": {
          "documentation": "<p>The protocol that the object storage server uses to communicate. Valid values are HTTP or HTTPS.</p>",
          "shape": "ObjectStorageServerProtocol"
        }
      },
      "type": "structure"
    },
    "DescribeLocationS3Request": {
      "documentation": "<p>DescribeLocationS3Request</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": ["LocationArn"],
      "type": "structure"
    },
    "DescribeLocationS3Response": {
      "documentation": "<p>DescribeLocationS3Response</p>",
      "members": {
        "AgentArns": {
          "documentation": "<p>If you are using DataSync on an Amazon Web Services Outpost, the Amazon Resource Name (ARNs) of the EC2 agents deployed on your Outpost. For more information about launching a DataSync agent on an Amazon Web Services Outpost, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent on Outposts</a>.</p>",
          "shape": "AgentArnList"
        },
        "CreationTime": {
          "documentation": "<p>The time that the Amazon S3 bucket location was created.</p>",
          "shape": "Time"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket or access point.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the Amazon S3 location that was described.</p>",
          "shape": "LocationUri"
        },
        "S3Config": { "shape": "S3Config" },
        "S3StorageClass": {
          "documentation": "<p>The Amazon S3 storage class that you chose to store your files in when this location is used as a task destination. For more information about S3 storage classes, see <a href=\"http://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a>. Some storage classes have behaviors that can affect your S3 storage cost. For detailed information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Considerations when working with S3 storage classes in DataSync</a>.</p>",
          "shape": "S3StorageClass"
        }
      },
      "type": "structure"
    },
    "DescribeLocationSmbRequest": {
      "documentation": "<p>DescribeLocationSmbRequest</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the SMB location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": ["LocationArn"],
      "type": "structure"
    },
    "DescribeLocationSmbResponse": {
      "documentation": "<p>DescribeLocationSmbResponse</p>",
      "members": {
        "AgentArns": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source SMB file system location that is created.</p>",
          "shape": "AgentArnList"
        },
        "CreationTime": {
          "documentation": "<p>The time that the SMB location was created.</p>",
          "shape": "Time"
        },
        "Domain": {
          "documentation": "<p>The name of the Windows domain that the SMB server belongs to.</p>",
          "shape": "SmbDomain"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the SMB location that was described.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the source SMB location that was described.</p>",
          "shape": "LocationUri"
        },
        "MountOptions": {
          "documentation": "<p>The mount options that are available for DataSync to use to access an SMB location.</p>",
          "shape": "SmbMountOptions"
        },
        "User": {
          "documentation": "<p>The user who can mount the share, has the permissions to access files and folders in the SMB share.</p>",
          "shape": "SmbUser"
        }
      },
      "type": "structure"
    },
    "DescribeTaskExecutionRequest": {
      "documentation": "<p>DescribeTaskExecutionRequest</p>",
      "members": {
        "TaskExecutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task that is being executed.</p>",
          "shape": "TaskExecutionArn"
        }
      },
      "required": ["TaskExecutionArn"],
      "type": "structure"
    },
    "DescribeTaskExecutionResponse": {
      "documentation": "<p>DescribeTaskExecutionResponse</p>",
      "members": {
        "BytesTransferred": {
          "documentation": "<p>The physical number of bytes transferred over the network.</p>",
          "shape": "long"
        },
        "BytesWritten": {
          "documentation": "<p>The number of logical bytes written to the destination Amazon Web Services storage resource.</p>",
          "shape": "long"
        },
        "EstimatedBytesToTransfer": {
          "documentation": "<p>The estimated physical number of bytes that is to be transferred over the network.</p>",
          "shape": "long"
        },
        "EstimatedFilesToTransfer": {
          "documentation": "<p>The expected number of files that is to be transferred over the network. This value is calculated during the PREPARING phase, before the TRANSFERRING phase. This value is the expected number of files to be transferred. It's calculated based on comparing the content of the source and destination locations and finding the delta that needs to be transferred. </p>",
          "shape": "long"
        },
        "Excludes": {
          "documentation": "<p>A list of filter rules that determines which files to exclude from a task. The list should contain a single filter string that consists of the patterns to exclude. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code> </p> <p> </p>",
          "shape": "FilterList"
        },
        "FilesTransferred": {
          "documentation": "<p>The actual number of files that was transferred over the network. This value is calculated and updated on an ongoing basis during the TRANSFERRING phase. It's updated periodically when each file is read from the source and sent over the network. </p> <p>If failures occur during a transfer, this value can be less than <code>EstimatedFilesToTransfer</code>. This value can also be greater than <code>EstimatedFilesTransferred</code> in some cases. This element is implementation-specific for some location types, so don't use it as an indicator for a correct file number or to monitor your task execution.</p>",
          "shape": "long"
        },
        "Includes": {
          "documentation": "<p>A list of filter rules that determines which files to include when running a task. The list should contain a single filter string that consists of the patterns to include. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code> </p> <p> </p>",
          "shape": "FilterList"
        },
        "Options": { "shape": "Options" },
        "Result": {
          "documentation": "<p>The result of the task execution.</p>",
          "shape": "TaskExecutionResultDetail"
        },
        "StartTime": {
          "documentation": "<p>The time that the task execution was started.</p>",
          "shape": "Time"
        },
        "Status": {
          "documentation": "<p>The status of the task execution. </p> <p>For detailed information about task execution statuses, see Understanding Task Statuses in the <i>DataSync User Guide.</i> </p>",
          "shape": "TaskExecutionStatus"
        },
        "TaskExecutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task execution that was described. <code>TaskExecutionArn</code> is hierarchical and includes <code>TaskArn</code> for the task that was executed. </p> <p>For example, a <code>TaskExecution</code> value with the ARN <code>arn:aws:datasync:us-east-1:111222333444:task/task-0208075f79cedf4a2/execution/exec-08ef1e88ec491019b</code> executed the task with the ARN <code>arn:aws:datasync:us-east-1:111222333444:task/task-0208075f79cedf4a2</code>. </p>",
          "shape": "TaskExecutionArn"
        }
      },
      "type": "structure"
    },
    "DescribeTaskRequest": {
      "documentation": "<p>DescribeTaskRequest</p>",
      "members": {
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task to describe.</p>",
          "shape": "TaskArn"
        }
      },
      "required": ["TaskArn"],
      "type": "structure"
    },
    "DescribeTaskResponse": {
      "documentation": "<p>DescribeTaskResponse</p>",
      "members": {
        "CloudWatchLogGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that was used to monitor and log events in the task.</p> <p>For more information on these groups, see Working with Log Groups and Log Streams in the <i>Amazon CloudWatch User Guide</i>.</p>",
          "shape": "LogGroupArn"
        },
        "CreationTime": {
          "documentation": "<p>The time that the task was created.</p>",
          "shape": "Time"
        },
        "CurrentTaskExecutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task execution that is syncing files.</p>",
          "shape": "TaskExecutionArn"
        },
        "DestinationLocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services storage resource's location.</p>",
          "shape": "LocationArn"
        },
        "DestinationNetworkInterfaceArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the destination elastic network interfaces (ENIs) that were created for your subnet.</p>",
          "shape": "DestinationNetworkInterfaceArns"
        },
        "ErrorCode": {
          "documentation": "<p>Errors that DataSync encountered during execution of the task. You can use this error code to help troubleshoot issues.</p>",
          "shape": "string"
        },
        "ErrorDetail": {
          "documentation": "<p>Detailed description of an error that was encountered during the task execution. You can use this information to help troubleshoot issues. </p>",
          "shape": "string"
        },
        "Excludes": {
          "documentation": "<p>A list of filter rules that determines which files to exclude from a task. The list should contain a single filter string that consists of the patterns to exclude. The patterns are delimited by \"|\" (that is, a pipe), for example, <code>\"/folder1|/folder2\"</code>. </p> <p> </p>",
          "shape": "FilterList"
        },
        "Includes": {
          "documentation": "<p>A list of filter rules that determines which files to include when running a task. The pattern contains a single filter string that consists of the patterns to include. The patterns are delimited by \"|\" (that is, a pipe), for example, <code>\"/folder1|/folder2</code>\".</p>",
          "shape": "FilterList"
        },
        "Name": {
          "documentation": "<p>The name of the task that was described.</p>",
          "shape": "TagValue"
        },
        "Options": {
          "documentation": "<p>The set of configuration options that control the behavior of a single execution of the task that occurs when you call <code>StartTaskExecution</code>. You can configure these options to preserve metadata such as user ID (UID) and group (GID), file permissions, data integrity verification, and so on.</p> <p>For each individual task execution, you can override these options by specifying the overriding <code>OverrideOptions</code> value to <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_StartTaskExecution.html\">StartTaskExecution</a> operation. </p>",
          "shape": "Options"
        },
        "Schedule": {
          "documentation": "<p>The schedule used to periodically transfer files from a source to a destination location.</p>",
          "shape": "TaskSchedule"
        },
        "SourceLocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source file system's location.</p>",
          "shape": "LocationArn"
        },
        "SourceNetworkInterfaceArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the source elastic network interfaces (ENIs) that were created for your subnet.</p>",
          "shape": "SourceNetworkInterfaceArns"
        },
        "Status": {
          "documentation": "<p>The status of the task that was described.</p> <p>For detailed information about task execution statuses, see Understanding Task Statuses in the <i>DataSync User Guide</i>.</p>",
          "shape": "TaskStatus"
        },
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task that was described.</p>",
          "shape": "TaskArn"
        }
      },
      "type": "structure"
    },
    "DestinationNetworkInterfaceArns": {
      "member": { "shape": "NetworkInterfaceArn" },
      "type": "list"
    },
    "Duration": {
      "min": 0,
      "type": "long"
    },
    "Ec2Config": {
      "documentation": "<p>The subnet and security groups that DataSync uses to access your Amazon EFS file system.</p>",
      "members": {
        "SecurityGroupArns": {
          "documentation": "<p>Specifies the Amazon Resource Names (ARNs) of the security groups associated with an Amazon EFS file system's mount target.</p>",
          "shape": "Ec2SecurityGroupArnList"
        },
        "SubnetArn": {
          "documentation": "<p>Specifies the ARN of a subnet where DataSync creates the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/datasync-network.html#required-network-interfaces\">network interfaces</a> for managing traffic during your transfer.</p> <p>The subnet must be located:</p> <ul> <li> <p>In the same virtual private cloud (VPC) as the Amazon EFS file system.</p> </li> <li> <p>In the same Availability Zone as at least one mount target for the Amazon EFS file system.</p> </li> </ul> <note> <p>You don't need to specify a subnet that includes a file system mount target.</p> </note>",
          "shape": "Ec2SubnetArn"
        }
      },
      "required": ["SubnetArn", "SecurityGroupArns"],
      "type": "structure"
    },
    "Ec2SecurityGroupArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):ec2:[a-z\\-0-9]*:[0-9]{12}:security-group/.*$",
      "type": "string"
    },
    "Ec2SecurityGroupArnList": {
      "max": 5,
      "member": { "shape": "Ec2SecurityGroupArn" },
      "min": 1,
      "type": "list"
    },
    "Ec2SubnetArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):ec2:[a-z\\-0-9]*:[0-9]{12}:subnet/.*$",
      "type": "string"
    },
    "EfsAccessPointArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):elasticfilesystem:[a-z\\-0-9]+:[0-9]{12}:access-point/fsap-[0-9a-f]{8,40}$",
      "type": "string"
    },
    "EfsFilesystemArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):elasticfilesystem:[a-z\\-0-9]*:[0-9]{12}:file-system/fs-.*$",
      "type": "string"
    },
    "EfsInTransitEncryption": {
      "enum": ["NONE", "TLS1_2"],
      "type": "string"
    },
    "EfsSubdirectory": {
      "max": 4096,
      "pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\p{Zs}]*$",
      "type": "string"
    },
    "Endpoint": {
      "max": 15,
      "min": 7,
      "pattern": "\\A(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)(\\.(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)){3}\\z",
      "type": "string"
    },
    "EndpointType": {
      "enum": ["PUBLIC", "PRIVATE_LINK", "FIPS"],
      "type": "string"
    },
    "FilterAttributeValue": {
      "max": 255,
      "min": 1,
      "pattern": "^[0-9a-zA-Z_\\ \\-\\:\\*\\.\\\\/\\?-]*$",
      "type": "string"
    },
    "FilterList": {
      "max": 1,
      "member": { "shape": "FilterRule" },
      "min": 0,
      "type": "list"
    },
    "FilterRule": {
      "documentation": "<p>Specifies which files, folders, and objects to include or exclude when transferring files from source to destination.</p>",
      "members": {
        "FilterType": {
          "documentation": "<p>The type of filter rule to apply. DataSync only supports the SIMPLE_PATTERN rule type.</p>",
          "shape": "FilterType"
        },
        "Value": {
          "documentation": "<p>A single filter string that consists of the patterns to include or exclude. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>/folder1|/folder2</code> </p> <p> </p>",
          "shape": "FilterValue"
        }
      },
      "type": "structure"
    },
    "FilterType": {
      "enum": ["SIMPLE_PATTERN"],
      "max": 128,
      "pattern": "^[A-Z0-9_]+$",
      "type": "string"
    },
    "FilterValue": {
      "max": 102400,
      "pattern": "^[^\\x00]+$",
      "type": "string"
    },
    "FilterValues": {
      "member": { "shape": "FilterAttributeValue" },
      "type": "list"
    },
    "FsxFilesystemArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):fsx:[a-z\\-0-9]*:[0-9]{12}:file-system/fs-.*$",
      "type": "string"
    },
    "FsxLustreSubdirectory": {
      "max": 4096,
      "pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\$\\p{Zs}]+$",
      "type": "string"
    },
    "FsxOpenZfsSubdirectory": {
      "max": 4096,
      "pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{1,4096}$",
      "type": "string"
    },
    "FsxProtocol": {
      "documentation": "<p>Represents the protocol that DataSync uses to access your Amazon FSx for OpenZFS file system.</p>",
      "members": {
        "NFS": {
          "documentation": "<p>Represents the Network File System (NFS) protocol that DataSync uses to access your FSx for OpenZFS file system.</p>",
          "shape": "FsxProtocolNfs"
        }
      },
      "type": "structure"
    },
    "FsxProtocolNfs": {
      "documentation": "<p>Represents the Network File System (NFS) protocol that DataSync uses to access your Amazon FSx for OpenZFS file system.</p>",
      "members": {
        "MountOptions": { "shape": "NfsMountOptions" }
      },
      "type": "structure"
    },
    "FsxWindowsSubdirectory": {
      "max": 4096,
      "pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\$\\p{Zs}]+$",
      "type": "string"
    },
    "Gid": {
      "enum": ["NONE", "INT_VALUE", "NAME", "BOTH"],
      "type": "string"
    },
    "HdfsAuthenticationType": {
      "enum": ["SIMPLE", "KERBEROS"],
      "type": "string"
    },
    "HdfsBlockSize": {
      "box": true,
      "max": 1073741824,
      "min": 1048576,
      "type": "integer"
    },
    "HdfsDataTransferProtection": {
      "enum": ["DISABLED", "AUTHENTICATION", "INTEGRITY", "PRIVACY"],
      "type": "string"
    },
    "HdfsNameNode": {
      "documentation": "<p>The NameNode of the Hadoop Distributed File System (HDFS). The NameNode manages the file system's namespace. The NameNode performs operations such as opening, closing, and renaming files and directories. The NameNode contains the information to map blocks of data to the DataNodes.</p>",
      "members": {
        "Hostname": {
          "documentation": "<p>The hostname of the NameNode in the HDFS cluster. This value is the IP address or Domain Name Service (DNS) name of the NameNode. An agent that's installed on-premises uses this hostname to communicate with the NameNode in the network.</p>",
          "shape": "HdfsServerHostname"
        },
        "Port": {
          "documentation": "<p>The port that the NameNode uses to listen to client requests.</p>",
          "shape": "HdfsServerPort"
        }
      },
      "required": ["Hostname", "Port"],
      "type": "structure"
    },
    "HdfsNameNodeList": {
      "member": { "shape": "HdfsNameNode" },
      "min": 1,
      "type": "list"
    },
    "HdfsReplicationFactor": {
      "box": true,
      "max": 512,
      "min": 1,
      "type": "integer"
    },
    "HdfsRpcProtection": {
      "enum": ["DISABLED", "AUTHENTICATION", "INTEGRITY", "PRIVACY"],
      "type": "string"
    },
    "HdfsServerHostname": {
      "max": 255,
      "min": 1,
      "pattern": "^(([a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9\\-]*[A-Za-z0-9])$",
      "type": "string"
    },
    "HdfsServerPort": {
      "box": true,
      "max": 65536,
      "min": 1,
      "type": "integer"
    },
    "HdfsSubdirectory": {
      "max": 4096,
      "pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\$\\p{Zs}]+$",
      "type": "string"
    },
    "HdfsUser": {
      "max": 256,
      "min": 1,
      "pattern": "^[_.A-Za-z0-9][-_.A-Za-z0-9]*$",
      "type": "string"
    },
    "IamRoleArn": {
      "max": 2048,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):iam::[0-9]{12}:role/.*$",
      "type": "string"
    },
    "InputTagList": {
      "max": 50,
      "member": { "shape": "TagListEntry" },
      "min": 0,
      "type": "list"
    },
    "InternalException": {
      "documentation": "<p>This exception is thrown when an error occurs in the DataSync service.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "errorCode": { "shape": "string" },
        "message": { "shape": "string" }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>This exception is thrown when the client submits a malformed request.</p>",
      "exception": true,
      "members": {
        "datasyncErrorCode": { "shape": "string" },
        "errorCode": { "shape": "string" },
        "message": { "shape": "string" }
      },
      "type": "structure"
    },
    "KerberosKeytabFile": {
      "max": 65536,
      "type": "blob"
    },
    "KerberosKrb5ConfFile": {
      "max": 131072,
      "type": "blob"
    },
    "KerberosPrincipal": {
      "max": 256,
      "min": 1,
      "pattern": "^.+$",
      "type": "string"
    },
    "KmsKeyProviderUri": {
      "max": 255,
      "min": 1,
      "pattern": "^kms:\\/\\/http[s]?@(([a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9\\-]*[A-Za-z0-9])(;(([a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9\\-]*[A-Za-z0-9]))*:[0-9]{1,5}\\/kms$",
      "type": "string"
    },
    "ListAgentsRequest": {
      "documentation": "<p>ListAgentsRequest</p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of agents to list.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin the next list of agents.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAgentsResponse": {
      "documentation": "<p>ListAgentsResponse</p>",
      "members": {
        "Agents": {
          "documentation": "<p>A list of agents in your account.</p>",
          "shape": "AgentList"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin returning the next list of agents.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListLocationsRequest": {
      "documentation": "<p>ListLocationsRequest</p>",
      "members": {
        "Filters": {
[...]
