{
  "documentation": "<p>Amazon Web Services Single Sign On (SSO) is a cloud SSO service that makes it easy to centrally manage SSO access to multiple Amazon Web Services accounts and business applications. This guide provides information on SSO operations which could be used for access management of Amazon Web Services accounts. For information about Amazon Web Services SSO features, see the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html\">Amazon Web Services Single Sign-On User Guide</a>.</p> <p>Many operations in the SSO APIs rely on identifiers for users and groups, known as principals. For more information about how to work with principals and principal IDs in Amazon Web Services SSO, see the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">Amazon Web Services SSO Identity Store API Reference</a>.</p>",
  "metadata": {
    "apiVersion": "2020-07-20",
    "endpointPrefix": "sso",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SSO Admin",
    "serviceFullName": "AWS Single Sign-On Admin",
    "serviceId": "SSO Admin",
    "signatureVersion": "v4",
    "signingName": "sso",
    "targetPrefix": "SWBExternalService",
    "uid": "sso-admin-2020-07-20"
  },
  "operations": {
    "AttachManagedPolicyToPermissionSet": {
      "documentation": "<p>Attaches an IAM managed policy ARN to a permission set.</p> <note> <p>If the permission set is already referenced by one or more account assignments, you will need to call <code> <a>ProvisionPermissionSet</a> </code> after this operation. Calling <code>ProvisionPermissionSet</code> applies the corresponding IAM policy updates to all assigned accounts.</p> </note>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ServiceQuotaExceededException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "AttachManagedPolicyToPermissionSetRequest" },
      "name": "AttachManagedPolicyToPermissionSet",
      "output": { "shape": "AttachManagedPolicyToPermissionSetResponse" }
    },
    "CreateAccountAssignment": {
      "documentation": "<p>Assigns access to a principal for a specified Amazon Web Services account using a specified permission set.</p> <note> <p>The term <i>principal</i> here refers to a user or group that is defined in Amazon Web Services SSO.</p> </note> <note> <p>As part of a successful <code>CreateAccountAssignment</code> call, the specified permission set will automatically be provisioned to the account in the form of an IAM policy. That policy is attached to the SSO-created IAM role. If the permission set is subsequently updated, the corresponding IAM policies attached to roles in your accounts will not be updated automatically. In this case, you must call <code> <a>ProvisionPermissionSet</a> </code> to make these updates.</p> </note>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ServiceQuotaExceededException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateAccountAssignmentRequest" },
      "name": "CreateAccountAssignment",
      "output": { "shape": "CreateAccountAssignmentResponse" }
    },
    "CreateInstanceAccessControlAttributeConfiguration": {
      "documentation": "<p>Enables the attributes-based access control (ABAC) feature for the specified Amazon Web Services SSO instance. You can also specify new attributes to add to your ABAC configuration during the enabling process. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>Amazon Web Services SSO User Guide</i>.</p>",
      "errors": [
        { "shape": "InternalServerException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "ResourceNotFoundException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreateInstanceAccessControlAttributeConfigurationRequest" },
      "name": "CreateInstanceAccessControlAttributeConfiguration",
      "output": { "shape": "CreateInstanceAccessControlAttributeConfigurationResponse" }
    },
    "CreatePermissionSet": {
      "documentation": "<p>Creates a permission set within a specified SSO instance.</p> <note> <p>To grant users and groups access to Amazon Web Services account resources, use <code> <a>CreateAccountAssignment</a> </code>.</p> </note>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ServiceQuotaExceededException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "CreatePermissionSetRequest" },
      "name": "CreatePermissionSet",
      "output": { "shape": "CreatePermissionSetResponse" }
    },
    "DeleteAccountAssignment": {
      "documentation": "<p>Deletes a principal's access from a specified Amazon Web Services account using a specified permission set.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DeleteAccountAssignmentRequest" },
      "name": "DeleteAccountAssignment",
      "output": { "shape": "DeleteAccountAssignmentResponse" }
    },
    "DeleteInlinePolicyFromPermissionSet": {
      "documentation": "<p>Deletes the inline policy from a specified permission set.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DeleteInlinePolicyFromPermissionSetRequest" },
      "name": "DeleteInlinePolicyFromPermissionSet",
      "output": { "shape": "DeleteInlinePolicyFromPermissionSetResponse" }
    },
    "DeleteInstanceAccessControlAttributeConfiguration": {
      "documentation": "<p>Disables the attributes-based access control (ABAC) feature for the specified Amazon Web Services SSO instance and deletes all of the attribute mappings that have been configured. Once deleted, any attributes that are received from an identity source and any custom attributes you have previously configured will not be passed. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>Amazon Web Services SSO User Guide</i>.</p>",
      "errors": [
        { "shape": "InternalServerException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "ResourceNotFoundException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DeleteInstanceAccessControlAttributeConfigurationRequest" },
      "name": "DeleteInstanceAccessControlAttributeConfiguration",
      "output": { "shape": "DeleteInstanceAccessControlAttributeConfigurationResponse" }
    },
    "DeletePermissionSet": {
      "documentation": "<p>Deletes the specified permission set.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DeletePermissionSetRequest" },
      "name": "DeletePermissionSet",
      "output": { "shape": "DeletePermissionSetResponse" }
    },
    "DescribeAccountAssignmentCreationStatus": {
      "documentation": "<p>Describes the status of the assignment creation request.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeAccountAssignmentCreationStatusRequest" },
      "name": "DescribeAccountAssignmentCreationStatus",
      "output": { "shape": "DescribeAccountAssignmentCreationStatusResponse" }
    },
    "DescribeAccountAssignmentDeletionStatus": {
      "documentation": "<p>Describes the status of the assignment deletion request.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeAccountAssignmentDeletionStatusRequest" },
      "name": "DescribeAccountAssignmentDeletionStatus",
      "output": { "shape": "DescribeAccountAssignmentDeletionStatusResponse" }
    },
    "DescribeInstanceAccessControlAttributeConfiguration": {
      "documentation": "<p>Returns the list of Amazon Web Services SSO identity store attributes that have been configured to work with attributes-based access control (ABAC) for the specified Amazon Web Services SSO instance. This will not return attributes configured and sent by an external identity provider. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>Amazon Web Services SSO User Guide</i>.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribeInstanceAccessControlAttributeConfigurationRequest" },
      "name": "DescribeInstanceAccessControlAttributeConfiguration",
      "output": { "shape": "DescribeInstanceAccessControlAttributeConfigurationResponse" }
    },
    "DescribePermissionSet": {
      "documentation": "<p>Gets the details of the permission set.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribePermissionSetRequest" },
      "name": "DescribePermissionSet",
      "output": { "shape": "DescribePermissionSetResponse" }
    },
    "DescribePermissionSetProvisioningStatus": {
      "documentation": "<p>Describes the status for the given permission set provisioning request.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DescribePermissionSetProvisioningStatusRequest" },
      "name": "DescribePermissionSetProvisioningStatus",
      "output": { "shape": "DescribePermissionSetProvisioningStatusResponse" }
    },
    "DetachManagedPolicyFromPermissionSet": {
      "documentation": "<p>Detaches the attached IAM managed policy ARN from the specified permission set.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "DetachManagedPolicyFromPermissionSetRequest" },
      "name": "DetachManagedPolicyFromPermissionSet",
      "output": { "shape": "DetachManagedPolicyFromPermissionSetResponse" }
    },
    "GetInlinePolicyForPermissionSet": {
      "documentation": "<p>Obtains the inline policy assigned to the permission set.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "GetInlinePolicyForPermissionSetRequest" },
      "name": "GetInlinePolicyForPermissionSet",
      "output": { "shape": "GetInlinePolicyForPermissionSetResponse" }
    },
    "ListAccountAssignmentCreationStatus": {
      "documentation": "<p>Lists the status of the Amazon Web Services account assignment creation requests for a specified SSO instance.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListAccountAssignmentCreationStatusRequest" },
      "name": "ListAccountAssignmentCreationStatus",
      "output": { "shape": "ListAccountAssignmentCreationStatusResponse" }
    },
    "ListAccountAssignmentDeletionStatus": {
      "documentation": "<p>Lists the status of the Amazon Web Services account assignment deletion requests for a specified SSO instance.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListAccountAssignmentDeletionStatusRequest" },
      "name": "ListAccountAssignmentDeletionStatus",
      "output": { "shape": "ListAccountAssignmentDeletionStatusResponse" }
    },
    "ListAccountAssignments": {
      "documentation": "<p>Lists the assignee of the specified Amazon Web Services account with the specified permission set.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListAccountAssignmentsRequest" },
      "name": "ListAccountAssignments",
      "output": { "shape": "ListAccountAssignmentsResponse" }
    },
    "ListAccountsForProvisionedPermissionSet": {
      "documentation": "<p>Lists all the Amazon Web Services accounts where the specified permission set is provisioned.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListAccountsForProvisionedPermissionSetRequest" },
      "name": "ListAccountsForProvisionedPermissionSet",
      "output": { "shape": "ListAccountsForProvisionedPermissionSetResponse" }
    },
    "ListInstances": {
      "documentation": "<p>Lists the SSO instances that the caller has access to.</p>",
      "errors": [
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ValidationException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListInstancesRequest" },
      "name": "ListInstances",
      "output": { "shape": "ListInstancesResponse" }
    },
    "ListManagedPoliciesInPermissionSet": {
      "documentation": "<p>Lists the IAM managed policy that is attached to a specified permission set.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListManagedPoliciesInPermissionSetRequest" },
      "name": "ListManagedPoliciesInPermissionSet",
      "output": { "shape": "ListManagedPoliciesInPermissionSetResponse" }
    },
    "ListPermissionSetProvisioningStatus": {
      "documentation": "<p>Lists the status of the permission set provisioning requests for a specified SSO instance.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListPermissionSetProvisioningStatusRequest" },
      "name": "ListPermissionSetProvisioningStatus",
      "output": { "shape": "ListPermissionSetProvisioningStatusResponse" }
    },
    "ListPermissionSets": {
      "documentation": "<p>Lists the <a>PermissionSet</a>s in an SSO instance.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListPermissionSetsRequest" },
      "name": "ListPermissionSets",
      "output": { "shape": "ListPermissionSetsResponse" }
    },
    "ListPermissionSetsProvisionedToAccount": {
      "documentation": "<p>Lists all the permission sets that are provisioned to a specified Amazon Web Services account.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListPermissionSetsProvisionedToAccountRequest" },
      "name": "ListPermissionSetsProvisionedToAccount",
      "output": { "shape": "ListPermissionSetsProvisionedToAccountResponse" }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags that are attached to a specified resource.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ListTagsForResourceRequest" },
      "name": "ListTagsForResource",
      "output": { "shape": "ListTagsForResourceResponse" }
    },
    "ProvisionPermissionSet": {
      "documentation": "<p>The process by which a specified permission set is provisioned to the specified target.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "ProvisionPermissionSetRequest" },
      "name": "ProvisionPermissionSet",
      "output": { "shape": "ProvisionPermissionSetResponse" }
    },
    "PutInlinePolicyToPermissionSet": {
      "documentation": "<p>Attaches an IAM inline policy to a permission set.</p> <note> <p>If the permission set is already referenced by one or more account assignments, you will need to call <code> <a>ProvisionPermissionSet</a> </code> after this action to apply the corresponding IAM policy updates to all assigned accounts.</p> </note>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ServiceQuotaExceededException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "PutInlinePolicyToPermissionSetRequest" },
      "name": "PutInlinePolicyToPermissionSet",
      "output": { "shape": "PutInlinePolicyToPermissionSetResponse" }
    },
    "TagResource": {
      "documentation": "<p>Associates a set of tags with a specified resource.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ServiceQuotaExceededException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "TagResourceRequest" },
      "name": "TagResource",
      "output": { "shape": "TagResourceResponse" }
    },
    "UntagResource": {
      "documentation": "<p>Disassociates a set of tags from a specified resource.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UntagResourceRequest" },
      "name": "UntagResource",
      "output": { "shape": "UntagResourceResponse" }
    },
    "UpdateInstanceAccessControlAttributeConfiguration": {
      "documentation": "<p>Updates the Amazon Web Services SSO identity store attributes that you can use with the Amazon Web Services SSO instance for attributes-based access control (ABAC). When using an external identity provider as an identity source, you can pass attributes through the SAML assertion as an alternative to configuring attributes from the Amazon Web Services SSO identity store. If a SAML assertion passes any of these attributes, Amazon Web Services SSO replaces the attribute value with the value from the Amazon Web Services SSO identity store. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>Amazon Web Services SSO User Guide</i>.</p>",
      "errors": [
        { "shape": "InternalServerException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "ResourceNotFoundException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UpdateInstanceAccessControlAttributeConfigurationRequest" },
      "name": "UpdateInstanceAccessControlAttributeConfiguration",
      "output": { "shape": "UpdateInstanceAccessControlAttributeConfigurationResponse" }
    },
    "UpdatePermissionSet": {
      "documentation": "<p>Updates an existing permission set.</p>",
      "errors": [
        { "shape": "ResourceNotFoundException" },
        { "shape": "InternalServerException" },
        { "shape": "ThrottlingException" },
        { "shape": "ValidationException" },
        { "shape": "AccessDeniedException" },
        { "shape": "ConflictException" }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": { "shape": "UpdatePermissionSetRequest" },
      "name": "UpdatePermissionSet",
      "output": { "shape": "UpdatePermissionSetResponse" }
    }
  },
  "shapes": {
    "AccessControlAttribute": {
      "documentation": "<p>These are Amazon Web Services SSO identity store attributes that you can configure for use in attributes-based access control (ABAC). You can create permissions policies that determine who can access your Amazon Web Services resources based upon the configured attribute values. When you enable ABAC and specify <code>AccessControlAttributes</code>, Amazon Web Services SSO passes the attribute values of the authenticated user into IAM for use in policy evaluation.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in Amazon Web Services SSO.</p>",
          "shape": "AccessControlAttributeKey"
        },
        "Value": {
          "documentation": "<p>The value used for mapping a specified attribute to an identity source.</p>",
          "shape": "AccessControlAttributeValue"
        }
      },
      "required": ["Key", "Value"],
      "type": "structure"
    },
    "AccessControlAttributeKey": {
      "max": 128,
      "min": 1,
      "pattern": "[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]+",
      "type": "string"
    },
    "AccessControlAttributeList": {
      "max": 50,
      "member": { "shape": "AccessControlAttribute" },
      "min": 0,
      "type": "list"
    },
    "AccessControlAttributeValue": {
      "documentation": "<p>The value used for mapping a specified attribute to an identity source.</p>",
      "members": {
        "Source": {
          "documentation": "<p>The identity source to use when mapping a specified attribute to Amazon Web Services SSO.</p>",
          "shape": "AccessControlAttributeValueSourceList"
        }
      },
      "required": ["Source"],
      "type": "structure"
    },
    "AccessControlAttributeValueSource": {
      "max": 256,
      "min": 0,
      "pattern": "[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@\\[\\]\\{\\}\\$\\\\\"]*",
      "type": "string"
    },
    "AccessControlAttributeValueSourceList": {
      "max": 1,
      "member": { "shape": "AccessControlAttributeValueSource" },
      "min": 1,
      "type": "list"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "exception": true,
      "members": {
        "Message": { "shape": "AccessDeniedExceptionMessage" }
      },
      "type": "structure"
    },
    "AccessDeniedExceptionMessage": { "type": "string" },
    "AccountAssignment": {
      "documentation": "<p>The assignment that indicates a principal's limited access to a specified Amazon Web Services account with a specified permission set.</p> <note> <p>The term <i>principal</i> here refers to a user or group that is defined in Amazon Web Services SSO.</p> </note>",
      "members": {
        "AccountId": {
          "documentation": "<p>The identifier of the Amazon Web Services account.</p>",
          "shape": "AccountId"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "PermissionSetArn"
        },
        "PrincipalId": {
          "documentation": "<p>An identifier for an object in Amazon Web Services SSO, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in Amazon Web Services SSO, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">Amazon Web Services SSO Identity Store API Reference</a>.</p>",
          "shape": "PrincipalId"
        },
        "PrincipalType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "PrincipalType"
        }
      },
      "type": "structure"
    },
    "AccountAssignmentList": {
      "member": { "shape": "AccountAssignment" },
      "type": "list"
    },
    "AccountAssignmentOperationStatus": {
      "documentation": "<p>The status of the creation or deletion operation of an assignment that a principal needs to access an account.</p>",
      "members": {
        "CreatedDate": {
          "documentation": "<p>The date that the permission set was created.</p>",
          "shape": "Date"
        },
        "FailureReason": {
          "documentation": "<p>The message that contains an error or exception in case of an operation failure.</p>",
          "shape": "Reason"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "PermissionSetArn"
        },
        "PrincipalId": {
          "documentation": "<p>An identifier for an object in Amazon Web Services SSO, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in Amazon Web Services SSO, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">Amazon Web Services SSO Identity Store API Reference</a>.</p>",
          "shape": "PrincipalId"
        },
        "PrincipalType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "PrincipalType"
        },
        "RequestId": {
          "documentation": "<p>The identifier for tracking the request operation that is generated by the universally unique identifier (UUID) workflow.</p>",
          "shape": "UUId"
        },
        "Status": {
          "documentation": "<p>The status of the permission set provisioning process.</p>",
          "shape": "StatusValues"
        },
        "TargetId": {
          "documentation": "<p>TargetID is an Amazon Web Services account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
          "shape": "TargetId"
        },
        "TargetType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "TargetType"
        }
      },
      "type": "structure"
    },
    "AccountAssignmentOperationStatusList": {
      "member": { "shape": "AccountAssignmentOperationStatusMetadata" },
      "type": "list"
    },
    "AccountAssignmentOperationStatusMetadata": {
      "documentation": "<p>Provides information about the <a>AccountAssignment</a> creation request.</p>",
      "members": {
        "CreatedDate": {
          "documentation": "<p>The date that the permission set was created.</p>",
          "shape": "Date"
        },
        "RequestId": {
          "documentation": "<p>The identifier for tracking the request operation that is generated by the universally unique identifier (UUID) workflow.</p>",
          "shape": "UUId"
        },
        "Status": {
          "documentation": "<p>The status of the permission set provisioning process.</p>",
          "shape": "StatusValues"
        }
      },
      "type": "structure"
    },
    "AccountId": {
      "pattern": "\\d{12}",
      "type": "string"
    },
    "AccountList": {
      "member": { "shape": "AccountId" },
      "type": "list"
    },
    "AttachManagedPolicyToPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "ManagedPolicyArn": {
          "documentation": "<p>The IAM managed policy ARN to be attached to a permission set.</p>",
          "shape": "ManagedPolicyArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <a>PermissionSet</a> that the managed policy should be attached to.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn", "ManagedPolicyArn"],
      "type": "structure"
    },
    "AttachManagedPolicyToPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "AttachedManagedPolicy": {
      "documentation": "<p>A structure that stores the details of the IAM managed policy.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the IAM managed policy. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "ManagedPolicyArn"
        },
        "Name": {
          "documentation": "<p>The name of the IAM managed policy.</p>",
          "shape": "Name"
        }
      },
      "type": "structure"
    },
    "AttachedManagedPolicyList": {
      "member": { "shape": "AttachedManagedPolicy" },
      "type": "list"
    },
    "ConflictException": {
      "documentation": "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
      "exception": true,
      "members": {
        "Message": { "shape": "ConflictExceptionMessage" }
      },
      "type": "structure"
    },
    "ConflictExceptionMessage": { "type": "string" },
    "CreateAccountAssignmentRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set that the admin wants to grant the principal access to.</p>",
          "shape": "PermissionSetArn"
        },
        "PrincipalId": {
          "documentation": "<p>An identifier for an object in Amazon Web Services SSO, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in Amazon Web Services SSO, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">Amazon Web Services SSO Identity Store API Reference</a>.</p>",
          "shape": "PrincipalId"
        },
        "PrincipalType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "PrincipalType"
        },
        "TargetId": {
          "documentation": "<p>TargetID is an Amazon Web Services account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
          "shape": "TargetId"
        },
        "TargetType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "TargetType"
        }
      },
      "required": ["InstanceArn", "TargetId", "TargetType", "PermissionSetArn", "PrincipalType", "PrincipalId"],
      "type": "structure"
    },
    "CreateAccountAssignmentResponse": {
      "members": {
        "AccountAssignmentCreationStatus": {
          "documentation": "<p>The status object for the account assignment creation operation.</p>",
          "shape": "AccountAssignmentOperationStatus"
        }
      },
      "type": "structure"
    },
    "CreateInstanceAccessControlAttributeConfigurationRequest": {
      "members": {
        "InstanceAccessControlAttributeConfiguration": {
          "documentation": "<p>Specifies the Amazon Web Services SSO identity store attributes to add to your ABAC configuration. When using an external identity provider as an identity source, you can pass attributes through the SAML assertion. Doing so provides an alternative to configuring attributes from the Amazon Web Services SSO identity store. If a SAML assertion passes any of these attributes, Amazon Web Services SSO will replace the attribute value with the value from the Amazon Web Services SSO identity store.</p>",
          "shape": "InstanceAccessControlAttributeConfiguration"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": ["InstanceArn", "InstanceAccessControlAttributeConfiguration"],
      "type": "structure"
    },
    "CreateInstanceAccessControlAttributeConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "CreatePermissionSetRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the <a>PermissionSet</a>.</p>",
          "shape": "PermissionSetDescription"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "Name": {
          "documentation": "<p>The name of the <a>PermissionSet</a>.</p>",
          "shape": "PermissionSetName"
        },
        "RelayState": {
          "documentation": "<p>Used to redirect users within the application during the federation authentication process.</p>",
          "shape": "RelayState"
        },
        "SessionDuration": {
          "documentation": "<p>The length of time that the application user sessions are valid in the ISO-8601 standard.</p>",
          "shape": "Duration"
        },
        "Tags": {
          "documentation": "<p>The tags to attach to the new <a>PermissionSet</a>.</p>",
          "shape": "TagList"
        }
      },
      "required": ["Name", "InstanceArn"],
      "type": "structure"
    },
    "CreatePermissionSetResponse": {
      "members": {
        "PermissionSet": {
          "documentation": "<p>Defines the level of access on an Amazon Web Services account.</p>",
          "shape": "PermissionSet"
        }
      },
      "type": "structure"
    },
    "Date": { "type": "timestamp" },
    "DeleteAccountAssignmentRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set that will be used to remove access.</p>",
          "shape": "PermissionSetArn"
        },
        "PrincipalId": {
          "documentation": "<p>An identifier for an object in Amazon Web Services SSO, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in Amazon Web Services SSO, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">Amazon Web Services SSO Identity Store API Reference</a>.</p>",
          "shape": "PrincipalId"
        },
        "PrincipalType": {
          "documentation": "<p>The entity type for which the assignment will be deleted.</p>",
          "shape": "PrincipalType"
        },
        "TargetId": {
          "documentation": "<p>TargetID is an Amazon Web Services account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
          "shape": "TargetId"
        },
        "TargetType": {
          "documentation": "<p>The entity type for which the assignment will be deleted.</p>",
          "shape": "TargetType"
        }
      },
      "required": ["InstanceArn", "TargetId", "TargetType", "PermissionSetArn", "PrincipalType", "PrincipalId"],
      "type": "structure"
    },
    "DeleteAccountAssignmentResponse": {
      "members": {
        "AccountAssignmentDeletionStatus": {
          "documentation": "<p>The status object for the account assignment deletion operation.</p>",
          "shape": "AccountAssignmentOperationStatus"
        }
      },
      "type": "structure"
    },
    "DeleteInlinePolicyFromPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set that will be used to remove access.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn"],
      "type": "structure"
    },
    "DeleteInlinePolicyFromPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteInstanceAccessControlAttributeConfigurationRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": ["InstanceArn"],
      "type": "structure"
    },
    "DeleteInstanceAccessControlAttributeConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeletePermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set that should be deleted.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn"],
      "type": "structure"
    },
    "DeletePermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeAccountAssignmentCreationStatusRequest": {
      "members": {
        "AccountAssignmentCreationRequestId": {
          "documentation": "<p>The identifier that is used to track the request operation progress.</p>",
          "shape": "UUId"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": ["InstanceArn", "AccountAssignmentCreationRequestId"],
      "type": "structure"
    },
    "DescribeAccountAssignmentCreationStatusResponse": {
      "members": {
        "AccountAssignmentCreationStatus": {
          "documentation": "<p>The status object for the account assignment creation operation.</p>",
          "shape": "AccountAssignmentOperationStatus"
        }
      },
      "type": "structure"
    },
    "DescribeAccountAssignmentDeletionStatusRequest": {
      "members": {
        "AccountAssignmentDeletionRequestId": {
          "documentation": "<p>The identifier that is used to track the request operation progress.</p>",
          "shape": "UUId"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": ["InstanceArn", "AccountAssignmentDeletionRequestId"],
      "type": "structure"
    },
    "DescribeAccountAssignmentDeletionStatusResponse": {
      "members": {
        "AccountAssignmentDeletionStatus": {
          "documentation": "<p>The status object for the account assignment deletion operation.</p>",
          "shape": "AccountAssignmentOperationStatus"
        }
      },
      "type": "structure"
    },
    "DescribeInstanceAccessControlAttributeConfigurationRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": ["InstanceArn"],
      "type": "structure"
    },
    "DescribeInstanceAccessControlAttributeConfigurationResponse": {
      "members": {
        "InstanceAccessControlAttributeConfiguration": {
          "documentation": "<p>Gets the list of Amazon Web Services SSO identity store attributes that have been added to your ABAC configuration.</p>",
          "shape": "InstanceAccessControlAttributeConfiguration"
        },
        "Status": {
          "documentation": "<p>The status of the attribute configuration process.</p>",
          "shape": "InstanceAccessControlAttributeConfigurationStatus"
        },
        "StatusReason": {
          "documentation": "<p>Provides more details about the current status of the specified attribute.</p>",
          "shape": "InstanceAccessControlAttributeConfigurationStatusReason"
        }
      },
      "type": "structure"
    },
    "DescribePermissionSetProvisioningStatusRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "ProvisionPermissionSetRequestId": {
          "documentation": "<p>The identifier that is provided by the <a>ProvisionPermissionSet</a> call to retrieve the current status of the provisioning workflow.</p>",
          "shape": "UUId"
        }
      },
      "required": ["InstanceArn", "ProvisionPermissionSetRequestId"],
      "type": "structure"
    },
    "DescribePermissionSetProvisioningStatusResponse": {
      "members": {
        "PermissionSetProvisioningStatus": {
          "documentation": "<p>The status object for the permission set provisioning operation.</p>",
          "shape": "PermissionSetProvisioningStatus"
        }
      },
      "type": "structure"
    },
    "DescribePermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn"],
      "type": "structure"
    },
    "DescribePermissionSetResponse": {
      "members": {
        "PermissionSet": {
          "documentation": "<p>Describes the level of access on an Amazon Web Services account.</p>",
          "shape": "PermissionSet"
        }
      },
      "type": "structure"
    },
    "DetachManagedPolicyFromPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "ManagedPolicyArn": {
          "documentation": "<p>The IAM managed policy ARN to be attached to a permission set.</p>",
          "shape": "ManagedPolicyArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <a>PermissionSet</a> from which the policy should be detached.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn", "ManagedPolicyArn"],
      "type": "structure"
    },
    "DetachManagedPolicyFromPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "Duration": {
      "max": 100,
      "min": 1,
      "pattern": "^(-?)P(?=\\d|T\\d)(?:(\\d+)Y)?(?:(\\d+)M)?(?:(\\d+)([DW]))?(?:T(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+(?:\\.\\d+)?)S)?)?$",
      "type": "string"
    },
    "GeneralArn": {
      "max": 2048,
      "min": 10,
      "pattern": "arn:aws:sso:([a-zA-Z0-9-]+)?:(\\d{12})?:[a-zA-Z0-9-]+/[a-zA-Z0-9-/.]+",
      "type": "string"
    },
    "GetInlinePolicyForPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn"],
      "type": "structure"
    },
    "GetInlinePolicyForPermissionSetResponse": {
      "members": {
        "InlinePolicy": {
          "documentation": "<p>The IAM inline policy that is attached to the permission set.</p>",
          "shape": "PermissionSetPolicyDocument"
        }
      },
      "type": "structure"
    },
    "Id": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]*",
      "type": "string"
    },
    "InstanceAccessControlAttributeConfiguration": {
      "documentation": "<p>Specifies the attributes to add to your attribute-based access control (ABAC) configuration.</p>",
      "members": {
        "AccessControlAttributes": {
          "documentation": "<p>Lists the attributes that are configured for ABAC in the specified Amazon Web Services SSO instance.</p>",
          "shape": "AccessControlAttributeList"
        }
      },
      "required": ["AccessControlAttributes"],
      "type": "structure"
    },
    "InstanceAccessControlAttributeConfigurationStatus": {
      "enum": ["ENABLED", "CREATION_IN_PROGRESS", "CREATION_FAILED"],
      "type": "string"
    },
    "InstanceAccessControlAttributeConfigurationStatusReason": { "type": "string" },
    "InstanceArn": {
      "max": 1224,
      "min": 10,
      "pattern": "arn:aws:sso:::instance/(sso)?ins-[a-zA-Z0-9-.]{16}",
      "type": "string"
    },
    "InstanceList": {
      "member": { "shape": "InstanceMetadata" },
      "type": "list"
    },
    "InstanceMetadata": {
      "documentation": "<p>Provides information about the SSO instance.</p>",
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The identifier of the identity store that is connected to the SSO instance.</p>",
          "shape": "Id"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        }
      },
      "type": "structure"
    },
    "InternalFailureMessage": { "type": "string" },
    "InternalServerException": {
      "documentation": "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
      "exception": true,
      "members": {
        "Message": { "shape": "InternalFailureMessage" }
      },
      "type": "structure"
    },
    "ListAccountAssignmentCreationStatusRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters results based on the passed attribute value.</p>",
          "shape": "OperationStatusFilter"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "required": ["InstanceArn"],
      "type": "structure"
    },
    "ListAccountAssignmentCreationStatusResponse": {
      "members": {
        "AccountAssignmentsCreationStatus": {
          "documentation": "<p>The status object for the account assignment creation operation.</p>",
          "shape": "AccountAssignmentOperationStatusList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListAccountAssignmentDeletionStatusRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters results based on the passed attribute value.</p>",
          "shape": "OperationStatusFilter"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "required": ["InstanceArn"],
      "type": "structure"
    },
    "ListAccountAssignmentDeletionStatusResponse": {
      "members": {
        "AccountAssignmentsDeletionStatus": {
          "documentation": "<p>The status object for the account assignment deletion operation.</p>",
          "shape": "AccountAssignmentOperationStatusList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListAccountAssignmentsRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The identifier of the Amazon Web Services account from which to list the assignments.</p>",
          "shape": "TargetId"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set from which to list assignments.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": ["InstanceArn", "AccountId", "PermissionSetArn"],
      "type": "structure"
    },
    "ListAccountAssignmentsResponse": {
      "members": {
        "AccountAssignments": {
          "documentation": "<p>The list of assignments that match the input Amazon Web Services account and permission set.</p>",
          "shape": "AccountAssignmentList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListAccountsForProvisionedPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the <a>PermissionSet</a>.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <a>PermissionSet</a> from which the associated Amazon Web Services accounts will be listed.</p>",
          "shape": "PermissionSetArn"
        },
        "ProvisioningStatus": {
          "documentation": "<p>The permission set provisioning status for an Amazon Web Services account.</p>",
          "shape": "ProvisioningStatus"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn"],
      "type": "structure"
    },
    "ListAccountsForProvisionedPermissionSetResponse": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The list of Amazon Web Services <code>AccountIds</code>.</p>",
          "shape": "AccountList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListInstancesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the instance.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListInstancesResponse": {
      "members": {
        "Instances": {
          "documentation": "<p>Lists the SSO instances that the caller has access to.</p>",
          "shape": "InstanceList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListManagedPoliciesInPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the <a>PermissionSet</a>.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <a>PermissionSet</a> whose managed policies will be listed.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn"],
      "type": "structure"
    },
    "ListManagedPoliciesInPermissionSetResponse": {
      "members": {
        "AttachedManagedPolicies": {
          "documentation": "<p>The array of the <a>AttachedManagedPolicy</a> data type object.</p>",
          "shape": "AttachedManagedPolicyList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListPermissionSetProvisioningStatusRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters results based on the passed attribute value.</p>",
          "shape": "OperationStatusFilter"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "required": ["InstanceArn"],
      "type": "structure"
    },
    "ListPermissionSetProvisioningStatusResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSetsProvisioningStatus": {
          "documentation": "<p>The status object for the permission set provisioning operation.</p>",
          "shape": "PermissionSetProvisioningStatusList"
        }
      },
      "type": "structure"
    },
    "ListPermissionSetsProvisionedToAccountRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The identifier of the Amazon Web Services account from which to list the assignments.</p>",
          "shape": "AccountId"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "ProvisioningStatus": {
          "documentation": "<p>The status object for the permission set provisioning operation.</p>",
          "shape": "ProvisioningStatus"
        }
      },
      "required": ["InstanceArn", "AccountId"],
      "type": "structure"
    },
    "ListPermissionSetsProvisionedToAccountResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSets": {
          "documentation": "<p>Defines the level of access that an Amazon Web Services account has.</p>",
          "shape": "PermissionSetList"
        }
      },
      "type": "structure"
    },
    "ListPermissionSetsRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "required": ["InstanceArn"],
      "type": "structure"
    },
    "ListPermissionSetsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSets": {
          "documentation": "<p>Defines the level of access on an Amazon Web Services account.</p>",
          "shape": "PermissionSetList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource with the tags to be listed.</p>",
          "shape": "GeneralArn"
        }
      },
      "required": ["InstanceArn", "ResourceArn"],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "Tags": {
          "documentation": "<p>A set of key-value pairs that are used to manage the resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ManagedPolicyArn": {
      "max": 2048,
      "min": 20,
      "type": "string"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Name": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "OperationStatusFilter": {
      "documentation": "<p>Filters he operation status list based on the passed attribute value.</p>",
      "members": {
        "Status": {
          "documentation": "<p>Filters the list operations result based on the status attribute.</p>",
          "shape": "StatusValues"
        }
      },
      "type": "structure"
    },
    "PermissionSet": {
      "documentation": "<p>An entity that contains IAM policies.</p>",
      "members": {
        "CreatedDate": {
          "documentation": "<p>The date that the permission set was created.</p>",
          "shape": "Date"
        },
        "Description": {
          "documentation": "<p>The description of the <a>PermissionSet</a>.</p>",
          "shape": "PermissionSetDescription"
        },
        "Name": {
          "documentation": "<p>The name of the permission set.</p>",
          "shape": "PermissionSetName"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "PermissionSetArn"
        },
        "RelayState": {
          "documentation": "<p>Used to redirect users within the application during the federation authentication process.</p>",
          "shape": "RelayState"
        },
        "SessionDuration": {
          "documentation": "<p>The length of time that the application user sessions are valid for in the ISO-8601 standard.</p>",
          "shape": "Duration"
        }
      },
      "type": "structure"
    },
    "PermissionSetArn": {
      "max": 1224,
      "min": 10,
      "pattern": "arn:aws:sso:::permissionSet/(sso)?ins-[a-zA-Z0-9-.]{16}/ps-[a-zA-Z0-9-./]{16}",
      "type": "string"
    },
    "PermissionSetDescription": {
      "max": 700,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}]*",
      "type": "string"
    },
    "PermissionSetList": {
      "member": { "shape": "PermissionSetArn" },
      "type": "list"
    },
    "PermissionSetName": {
      "max": 32,
      "min": 1,
      "pattern": "[\\w+=,.@-]+",
      "type": "string"
    },
    "PermissionSetPolicyDocument": {
      "max": 10240,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
      "sensitive": true,
      "type": "string"
    },
    "PermissionSetProvisioningStatus": {
      "documentation": "<p>A structure that is used to provide the status of the provisioning operation for a specified permission set.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The identifier of the Amazon Web Services account from which to list the assignments.</p>",
          "shape": "AccountId"
        },
        "CreatedDate": {
          "documentation": "<p>The date that the permission set was created.</p>",
          "shape": "Date"
        },
        "FailureReason": {
          "documentation": "<p>The message that contains an error or exception in case of an operation failure.</p>",
          "shape": "Reason"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set that is being provisioned. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "PermissionSetArn"
        },
        "RequestId": {
          "documentation": "<p>The identifier for tracking the request operation that is generated by the universally unique identifier (UUID) workflow.</p>",
          "shape": "UUId"
        },
        "Status": {
          "documentation": "<p>The status of the permission set provisioning process.</p>",
          "shape": "StatusValues"
        }
      },
      "type": "structure"
    },
    "PermissionSetProvisioningStatusList": {
      "member": { "shape": "PermissionSetProvisioningStatusMetadata" },
      "type": "list"
    },
    "PermissionSetProvisioningStatusMetadata": {
      "documentation": "<p>Provides information about the permission set provisioning status.</p>",
      "members": {
        "CreatedDate": {
          "documentation": "<p>The date that the permission set was created.</p>",
          "shape": "Date"
        },
        "RequestId": {
          "documentation": "<p>The identifier for tracking the request operation that is generated by the universally unique identifier (UUID) workflow.</p>",
          "shape": "UUId"
        },
        "Status": {
          "documentation": "<p>The status of the permission set provisioning process.</p>",
          "shape": "StatusValues"
        }
      },
      "type": "structure"
    },
    "PrincipalId": {
      "max": 47,
      "min": 1,
      "pattern": "^([0-9a-f]{10}-|)[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$",
      "type": "string"
    },
    "PrincipalType": {
      "enum": ["USER", "GROUP"],
      "type": "string"
    },
    "ProvisionPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set.</p>",
          "shape": "PermissionSetArn"
        },
        "TargetId": {
          "documentation": "<p>TargetID is an Amazon Web Services account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
          "shape": "TargetId"
        },
        "TargetType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "ProvisionTargetType"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn", "TargetType"],
      "type": "structure"
    },
    "ProvisionPermissionSetResponse": {
      "members": {
        "PermissionSetProvisioningStatus": {
          "documentation": "<p>The status object for the permission set provisioning operation.</p>",
          "shape": "PermissionSetProvisioningStatus"
        }
      },
      "type": "structure"
    },
    "ProvisionTargetType": {
      "enum": ["AWS_ACCOUNT", "ALL_PROVISIONED_ACCOUNTS"],
      "type": "string"
    },
    "ProvisioningStatus": {
      "enum": ["LATEST_PERMISSION_SET_PROVISIONED", "LATEST_PERMISSION_SET_NOT_PROVISIONED"],
      "type": "string"
    },
    "PutInlinePolicyToPermissionSetRequest": {
      "members": {
        "InlinePolicy": {
          "documentation": "<p>The IAM inline policy to attach to a <a>PermissionSet</a>.</p>",
          "shape": "PermissionSetPolicyDocument"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn", "InlinePolicy"],
      "type": "structure"
    },
    "PutInlinePolicyToPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "Reason": {
      "pattern": "[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}]*",
      "type": "string"
    },
    "RelayState": {
      "max": 240,
      "min": 1,
      "pattern": "[a-zA-Z0-9&$@#\\\\\\/%?=~\\-_'\"|!:,.;*+\\[\\]\\ \\(\\)\\{\\}]+",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>Indicates that a requested resource is not found.</p>",
      "exception": true,
      "members": {
        "Message": { "shape": "ResourceNotFoundMessage" }
      },
      "type": "structure"
    },
    "ResourceNotFoundMessage": { "type": "string" },
    "ServiceQuotaExceededException": {
      "documentation": "<p>Indicates that the principal has crossed the permitted number of resources that can be created.</p>",
      "exception": true,
      "members": {
        "Message": { "shape": "ServiceQuotaExceededMessage" }
      },
      "type": "structure"
    },
    "ServiceQuotaExceededMessage": { "type": "string" },
    "StatusValues": {
      "enum": ["IN_PROGRESS", "FAILED", "SUCCEEDED"],
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>A set of key-value pairs that are used to manage the resource. Tags can only be applied to permission sets and cannot be applied to corresponding roles that Amazon Web Services SSO creates in Amazon Web Services accounts.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key for the tag.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value of the tag.</p>",
          "shape": "TagValue"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": { "shape": "TagKey" },
      "min": 1,
      "type": "list"
    },
    "TagList": {
      "max": 50,
      "member": { "shape": "Tag" },
      "min": 0,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource with the tags to be listed.</p>",
          "shape": "GeneralArn"
        },
        "Tags": {
          "documentation": "<p>A set of key-value pairs that are used to manage the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": ["InstanceArn", "ResourceArn", "Tags"],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "TargetId": {
      "pattern": "\\d{12}",
      "type": "string"
    },
    "TargetType": {
      "enum": ["AWS_ACCOUNT"],
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
      "exception": true,
      "members": {
        "Message": { "shape": "ThrottlingExceptionMessage" }
      },
      "type": "structure"
    },
    "ThrottlingExceptionMessage": { "type": "string" },
    "Token": {
      "max": 2048,
      "pattern": "^[-a-zA-Z0-9+=/_]*",
      "type": "string"
    },
    "UUId": {
      "pattern": "\\b[0-9a-f]{8}\\b-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-\\b[0-9a-f]{12}\\b",
      "type": "string"
    },
    "UntagResourceRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource with the tags to be listed.</p>",
          "shape": "GeneralArn"
        },
        "TagKeys": {
          "documentation": "<p>The keys of tags that are attached to the resource.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": ["InstanceArn", "ResourceArn", "TagKeys"],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateInstanceAccessControlAttributeConfigurationRequest": {
      "members": {
        "InstanceAccessControlAttributeConfiguration": {
          "documentation": "<p>Updates the attributes for your ABAC configuration.</p>",
          "shape": "InstanceAccessControlAttributeConfiguration"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": ["InstanceArn", "InstanceAccessControlAttributeConfiguration"],
      "type": "structure"
    },
    "UpdateInstanceAccessControlAttributeConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdatePermissionSetRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the <a>PermissionSet</a>.</p>",
          "shape": "PermissionSetDescription"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the SSO instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set.</p>",
          "shape": "PermissionSetArn"
        },
        "RelayState": {
          "documentation": "<p>Used to redirect users within the application during the federation authentication process.</p>",
          "shape": "RelayState"
        },
        "SessionDuration": {
          "documentation": "<p>The length of time that the application user sessions are valid for in the ISO-8601 standard.</p>",
          "shape": "Duration"
        }
      },
      "required": ["InstanceArn", "PermissionSetArn"],
      "type": "structure"
    },
    "UpdatePermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>The request failed because it contains a syntax error.</p>",
      "exception": true,
      "members": {
        "Message": { "shape": "ValidationExceptionMessage" }
      },
      "type": "structure"
    },
    "ValidationExceptionMessage": { "type": "string" }
  },
  "version": "2.0"
}
