.trend-search-header {
  position: relative;
  height: 40px;
}

.trend-search-header-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  right: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.trend-suggestion-list {
  display: flex;
  margin: 0 0 0 30px;
  justify-items: center;
  margin-bottom: 10px;
}

.trend-search-header-icon {
  scale: 1.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trend-suggestion-list-number {
  width: 100%;
  height: 100%;
}

.trend-suggestion-list-item {
  display: flex;
  justify-content: left;
  align-items: center;
  justify-self: left;
}

.trend-suggestion-item-no-of-bits {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 13px;
}

.trend-suggestion-list-icon {
  cursor: pointer;
}

.recent-suggestion-item {
  display: flex;
}

.recent-suggestion-list {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  margin-bottom: 20px;
}

.recent-suggestion-list p {
  margin: 0 0 0 28px;
}

.recent-suggestion-item-icon {
  cursor: pointer;
}

/* advance-searching-css */
.advance-searching-container {
  position: relative;
  margin-top: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  height: calc(100vh - 70px);
}

.advance-search-header {
  flex: flex;
}

.advance-search-header h2 {
  margin: 7px 0 0 0;
  position: relative;
  font-size: 25px;
}

.advance-search-section {
  max-height: calc(100vh - 150px);
  overflow: scroll;
}

.advance-search-date select,
.advance-search-language select {
  padding: 0 45px 0 45px;
  background: #e9edc9;
  outline: none;
  border: none;
  color: #757575;
  border-radius: 20px;
}

.advance-search-location-same,
.advance-search-location-anywhere,
.advance-search-content-photo,
.advance-search-content-video {
  display: block;
  margin-bottom: 10px;
}

.advance-search-location label,
.advance-search-content-with label {
  margin-left: 10px;
  padding: 2px 10px;
  width: 70px;
  display: inline-block;
  text-align: center;
  background: #e9edc9;
  outline: none;
  border: none;
  color: #757575;
  font-size: 12px;
  border-radius: 20px;
}

.advance-search-submit {
  background: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 0 0 20px 0;
  left: 0;
  right: 0;
}

.advance-search-submit-button {
  background: #e9edc9;
  outline: none;
  border: none;
  margin: 20px 0 0 0;
  color: #757575;
  border-radius: 20px;
  width: 60px;
}

/* searching-result-latest-css */
.search-result-latest .bit-box-container {
  background: #fffefe;
  box-shadow: 0 2px 2px 0 #ddd;
}

.search-result-latest-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.search-result-isLatest-header p {
  text-decoration: underline;
}

.search-result-isNotPeople-header p {
  color: #757575;
}

.search-result-latest {
  max-height: calc(100vh - 200px);
  overflow: scroll;
}
/* result of searching user */
.search-result-people-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.search-result-isNotLatest-header p {
  color: #757575;
}

.search-result-people-header p {
  text-decoration: underline;
}

.search-result-people {
  max-height: calc(100vh - 200px);
  overflow: scroll;
}
/* search username container css */

.search-result-people-container {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr 80px 80px;
  justify-content: center;
  align-items: center;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px 0;
}
.search-result-user-icon {
  width: 55%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin: auto;
}

.search-result-user-names {
  display: flex;
  margin-bottom: 5px;
}

.search-result-user-names p {
  margin: 0 10px 0 0;
}

.search-result-user-nameID {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 13px;
}
.search-user-follow-button {
  background: #e9edc9;
  outline: none;
  border: none;
  color: #757575;
  border-radius: 5px;
  padding: 10px 15px;
  width: 70px;
}

@media only screen and (max-width: 955px) {
  .trend-searching-container {
    max-height: calc(100vh - 190px);
    box-shadow: unset;
  }

  .search-result-people-container {
    grid-template-columns: 1fr;
  }

  .search-result-user-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin: 0 0 10px 0;
  }

  .search-result-user-follow {
    display: flex;
    justify-content: center;
  }

  .search-result-user-names {
    font-weight: bold;
  }

  .search-user-follow-button {
    width: 100%;
    padding: 3px 20px;
    margin-top: 7px;
  }

  .search-result-user-bio {
    margin: 5px 0;
  }
}
