.bit-box-container {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 50px 0 #e4e5ed;
  margin: 20px;
  padding: 15px 20px 10px 20px;
}

.write-bit-box {
  overflow: hidden;
}

.write-bit-box-container {
  display: grid;
  grid-template-columns: 40px auto;
  transition: opacity 0.5s ease-in-out;
}

.write-bit-box-loading {
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.write-bit-box.loading .write-bit-box-loading,
.write-bit-box.done .write-bit-box-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.write-bit-box.loading .write-bit-box-loading-spinner {
  border: 3px solid #a3ab82;
}

.write-bit-box.loading .write-bit-box-loading-spinner,
.write-bit-box.success .write-bit-box-loading-spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 0.8s linear infinite;
  transition: border-color 1s ease-in-out;
}

.write-bit-box.success .write-bit-box-loading-spinner {
  border-top-color: #a3ab82;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.write-bit-box .write-bit-box-tick-icon-container {
  display: none;
  opacity: 0;
}

.write-bit-box.success .write-bit-box-tick-icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-bit-box.success .write-bit-box-tick-icon {
  width: 30px;
  aspect-ratio: 1 / 1;
  scale: 1.5;
  color: #a3ab82;
}

.bit-box-icon {
  width: 25px;
  aspect-ratio: 1 / 1;
}

.bit-box-rebit-with-photo {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px 20px 0 10px;
  box-shadow: 0 10px 50px 0 #e4e5ed;
}

.bit-box-rebit-with-photo img {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.bit-box-content-image {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 10px 0 #e4e5ed;
  border-radius: 10px;
  overflow: hidden;
}

.write-bit-box-content .write-bit-box-content-text {
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  height: 100px;
  width: 100%;
  resize: none;
  border: none;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.write-bit-box-content .write-bit-box-content-text::placeholder {
  color: #8b8b8b;
}

.write-bit-box-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0 0 5px;
  border-top: 1px solid #757575;
}

.write-bit-box-options-icon {
  margin-right: 15px;
  scale: 1.2;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.write-bit-box-options-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.1s ease-in-out;
}

.write-bit-box-options-submit-icon {
  scale: 1.2;
}

.write-bit-box-options-submit input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.write-bit-box-options-submit:hover,
.write-bit-box-options-submit:hover input {
  color: #a3ab82;
}

.write-bit-box-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.write-bit-box.dragging .write-bit-box-upload {
  opacity: 1;
}

.write-bit-box-added-attachment {
  border: 1px #000 dashed;
  padding: 10px 15px;
  border-radius: 10px;
}

.write-bit-box-added-attachment-item {
  display: grid;
  grid-template-columns: 40px 1fr 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.write-bit-box-added-attachment-item-name {
  text-overflow: ellipsis;
}

.bit-box {
  padding: 15px 20px 5px 20px;
}

.bit-box-content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.bit-box-repost-statement {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 5px 0 20px 0;
}

.bit-box-repost-statement p {
  margin: 0;
  font-size: 13px;
}

.bit-box-repost-statement-icon {
  scale: 1.3;
}
.bit-box-content-header-userID,
.bit-box-content-header-time {
  font-size: 14px;
  color: #757575;
}

.bit-box-content {
  margin: 6px 0 6px 36px;
  font-weight: bold;
}

.bit-box-content-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-left: 35px;
}

.bit-box-content-footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.bit-box-content-footer-repost {
  scale: 1.3;
}

.bit-box .bit-box-content-footer-comment {
  position: relative;
  width: calc(100% - 36px);
  height: 0;
  padding: 0 0 0 36px;
  overflow: hidden;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.bit-box-content-footer-comment-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 62px);
  bottom: 0;
  background-color: rgba(233, 237, 201, 0.5);
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 0 40px 0 20px;
}

.bit-box-content-footer-comment-submit {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.bit-box:hover .bit-box-content-footer-comment,
.bit-box.active .bit-box-content-footer-comment {
  height: 22px;
  padding: 10px 0 10px 36px;
  margin: 0 0 10px 0;
}

.bit-box:hover .bit-box-content-footer-comment-submit,
.bit-box.active .bit-box-content-footer-comment-submit {
  opacity: 1;
}

.bit-box-rebit-with-caption {
  background: #f1f1f1;
  margin: 10px 0 0 35px;
  padding: 15px 20px;
  border-radius: 10px;
}

.bit-box-rebit-with-caption .bit-box-content-header {
  font-size: 13px;
}

.bit-box-rebit-with-caption .bit-box-content-header-userID,
.bit-box-rebit-with-caption .bit-box-content-header-time {
  font-size: 12px;
  color: #757575;
}

.bit-box-rebit-with-caption .bit-box-content-text {
  font-size: 13px;
}

.profile-background-picture {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0 0 0;
  box-shadow: 0 10px 50px 0 #e4e5ed;
}

.trend-searching-container {
  position: relative;
  margin: 15px 0 0 15px;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  height: calc(100vh - 70px);
}

.trend-search-bar {
  position: relative;
  height: 40px;
  margin-top: 10px;
}

.trend-search-bar input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px 0 45px;
  border: 1px solid #000;
  outline: none;
  border-radius: 20px;
}

.trend-search-bar-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .trend-search-bar-icon .trend-suggestion-list {
  display: flex;
  margin: 0 0 0 30px;
}

.trend-suggestion-item-size {
  color: #a8a8a8;
}

.trend-suggestion-item-size::before {
  content: '•';
  margin: 0 5px;
}

.trend-suggestion-list p {
  margin: 0;
}

/* search page css*/

.trend-searching-container {
  margin-top: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  height: calc(100vh - 70px);
  /* unti the end of page */
}

.recent-and-trend-suggestion-section {
  max-height: calc(100vh - 150px);
  overflow: scroll;
}

.recent-suggestion-section {
  margin-top: 20px;
  border-top: 1px solid #000;
}

.trend-search-header {
  position: relative;
  height: 40px;
}

.trend-search-header-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  right: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.trend-suggestion-list {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  margin-bottom: 10px;
}

.trend-search-header-icon {
  scale: 1.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trend-suggestion-list-number {
  width: 100%;
  height: 100%;
}

.trend-suggestion-list-item {
  display: flex;
  justify-content: left;
  align-items: center;
  justify-self: left;
}

.trend-suggestion-item-no-of-bits {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 13px;
}

.trend-suggestion-list-icon {
  cursor: pointer;
}

.recent-suggestion-item {
  display: flex;
}

.recent-suggestion-list {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  margin-bottom: 20px;
}

.recent-suggestion-list p {
  margin: 0 0 0 28px;
}

.recent-suggestion-item-icon {
  cursor: pointer;
}

/* advance-searching-css */
.advance-searching-container {
  position: relative;
  margin-top: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  height: calc(100vh - 70px);
}
.advance-search-header {
  flex: flex;
}
.advance-search-header h2 {
  margin: 7px 0 0 0;
  position: relative;
  font-size: 25px;
}

.advance-search-section {
  max-height: calc(100vh - 150px);
  overflow: scroll;
}

.advance-search-date select,
.advance-search-language select {
  appearance: none;
  padding: 5px 20px;
  margin-right: 10px;
  background: #e9edc9;
  outline: none;
  border: none;
  color: #757575;
  border-radius: 20px;
}

.advance-search-location-same,
.advance-search-location-anywhere,
.advance-search-content-photo,
.aadvance-search-content-video {
  display: block;
  margin-bottom: 10px;
}

.advance-search-location label,
.advance-search-content-with label {
  margin-left: 10px;
  padding: 5px 20px;
  width: 70px;
  display: inline-block;
  text-align: center;
  background: #e9edc9;
  outline: none;
  border: none;
  color: #757575;
  font-size: 12px;
  border-radius: 20px;
}

.advance-search-submit {
  background: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 0 0 20px 0;
  left: 0;
  right: 0;
  border-radius: 0 0 20px 20px;
}

.advance-search-submit-button {
  background: #e9edc9;
  outline: none;
  border: none;
  margin: 20px 0 0 0;
  color: #757575;
  border-radius: 20px;
  width: 100px;
  padding: 5px 20px;
  font-weight: bolder;
}

.write-bit-box-rebit {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px dashed #000;
  border-radius: 10px;
}
