.bit-box-container {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 50px 0 #e4e5ed;
  margin: 20px;
  padding: 15px 20px 10px 20px;
}

.write-bit-box {
  display: grid;
  grid-template-columns: 40px auto;
}

.bit-box-icon {
  width: 25px;
  aspect-ratio: 1 / 1;
}

.write-bit-box-content .write-bit-box-content-text {
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  height: 100px;
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid #757575;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.write-bit-box-content .write-bit-box-content-text::placeholder {
  color: #8b8b8b;
}

.write-bit-box-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-left: 5px;
}

.write-bit-box-options-icon {
  margin-right: 15px;
  scale: 1.2;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.write-bit-box-options-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.1s ease-in-out;
}

.write-bit-box-options-submit-icon {
  scale: 1.2;
}

.write-bit-box-options-submit input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.write-bit-box-options-submit:hover,
.write-bit-box-options-submit:hover input {
  color: #a3ab82;
}

.bit-box {
  padding: 15px 20px 5px 20px;
}

.bit-box-content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.bit-box-content-header-userID,
.bit-box-content-header-time {
  font-size: 14px;
  color: #757575;
}

.bit-box-content {
  margin: 6px 0 6px 36px;
  font-weight: bold;
}

.bit-box-content-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.bit-box-content-footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 36px;
  cursor: pointer;
}

.bit-box .bit-box-content-footer-comment {
  position: relative;
  width: calc(100% - 36px);
  height: 0;
  padding: 0 0 0 36px;
  overflow: hidden;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out, border-top 0.2s ease-in-out;
}

.bit-box-content-footer-comment-input input {
  position: absolute;
  top: 10px;
  left: 0;
  width: calc(100% - 22px);
  bottom: 0;
  background-color: rgba(233, 237, 201, 0.5);
  border: none;
  outline: none;
  border-radius: 50px;
  padding-left: 20px;
}

.bit-box-content-footer-comment-submit {
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.bit-box:hover .bit-box-content-footer-comment {
  border-top: 1px solid #757575;
  height: 22px;
  padding: 20px 0 10px 36px;
  margin: 0 0 10px 0;
}

.bit-box:hover .bit-box-content-footer-comment-submit {
  opacity: 1;
}
