.Navbar-container {
  background: #ccd5ae;
  box-shadow: 0 10px 50px 0 #e4e5ed;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-container p {
  display: inline-block;
  margin: 0;
}

.logoutIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Panel-container {
  font-family: Arial, sans-serif;
  margin: 0px;
  height: 100vh;
  overflow: scroll;
  display: grid;
}

.Panel-component {
  font-weight: bold;
  padding: 12px;
}

.Panel-page {
  padding: 0 20px 20px 20px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0 10px;
}

.show-user-row {
  position: relative;
  background: #fff;
  margin: 10px auto 20px auto;
  overflow: hidden;
  padding-bottom: 10px;
  box-shadow: 0 5px 10px 0 #e4e5ed;
}

.panel-show-user-name {
  font-weight: bold;
  background-color: #ccd5ae;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.panel-show-user-name img {
  width: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 calc(12.5% - 5px);
  border: 5px dashed #fff;
}

.panel-show-user-name-text {
  margin: 10px 0 0 0;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
}

.panel-show-user-id-text,
.panel-show-user-nickname-text {
  text-align: center;
}

.panel-show-user-delete-icon {
  display: inline-block;
  border: 2px solid #ccd5ae;
  padding: 5px;
  width: 100px;
  margin-left: calc(50% - 55px);
  border-radius: 20px;
  text-align: center;
}

.admin-container {
  background: #f3f4f5;
  height: 100vh;
}

.admin-panel-logo {
  width: 30px;
}
