nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75px;
  background-color: #e9edc9;
  border-radius: 0 25px 25px 0;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
}

.logo {
  width: 100%;
  margin: 3vh auto;
  display: flex;
  align-items: center;
  gap: 0;
  transition: gap 0.5s ease-in-out;
}

.logo-icon {
  background: #fff;
  border-radius: 5px;
  width: 50px;
  margin: 0 12.5px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 1px 2px 3px #888;
}

.logo-name {
  font-size: 1.2rem;
  font-weight: bolder;
  width: 0;
  /* text-align: center; */
  transition: width 0.5s ease-in-out;
}

.nav-control,
.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: scale 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.nav-control:hover,
.nav-link:hover {
  scale: 1.1;
  transform: translateX(5px);
}

.nav-controls {
  position: absolute;
  bottom: 3%;
  width: 100%;
}

.nav-control svg,
.nav-link svg {
  display: inline-block;
  scale: 1.3;
  width: 75px;
}

.nav-control .nav-link-desc,
.nav-link .nav-link-desc {
  display: inline-block;
  font-weight: bolder;
  overflow: hidden;
  margin: 15px 0;
  width: 0;
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  transition: margin-left 0.5s ease-in-out, width 0.5s ease-in-out;
}

nav:hover {
  width: 200px;
}

nav:hover .nav-control .nav-link-desc,
nav:hover .nav-link .nav-link-desc {
  margin: 15px 0 15px 0px;
  width: 75px;
}

nav:hover .logo-name {
  width: 112.5px;
}
