{
  "documentation": "<p>AWS Data Exchange is a service that makes it easy for AWS customers to exchange data in the cloud. You can use the AWS Data Exchange APIs to create, update, manage, and access file-based data set in the AWS Cloud.</p><p>As a subscriber, you can view and access the data sets that you have an entitlement to through a subscription. You can use the APIS to download or copy your entitled data sets to Amazon S3 for use across a variety of AWS analytics and machine learning services.</p><p>As a provider, you can create and manage your data sets that you would like to publish to a product. Being able to package and provide your data sets into products requires a few steps to determine eligibility. For more information, visit the AWS Data Exchange User Guide.</p><p>A data set is a collection of data that can be changed or updated over time. Data sets can be updated using revisions, which represent a new version or incremental change to a data set.  A revision contains one or more assets. An asset in AWS Data Exchange is a piece of data that can be stored as an Amazon S3 object. The asset can be a structured data file, an image file, or some other data file. Jobs are asynchronous import or export operations used to create or copy assets.</p>",
  "metadata": {
    "apiVersion": "2017-07-25",
    "endpointPrefix": "dataexchange",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Data Exchange",
    "serviceId": "DataExchange",
    "signatureVersion": "v4",
    "signingName": "dataexchange",
    "uid": "dataexchange-2017-07-25"
  },
  "operations": {
    "CancelJob": {
      "documentation": "<p>This operation cancels a job. Jobs can be cancelled only when they are in the WAITING state.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/jobs/{JobId}",
        "responseCode": 204
      },
      "input": {
        "shape": "CancelJobRequest"
      },
      "name": "CancelJob"
    },
    "CreateDataSet": {
      "documentation": "<p>This operation creates a data set.</p>",
      "errors": [
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>402 response</p>",
          "shape": "ServiceLimitExceededException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/data-sets",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDataSetRequest"
      },
      "name": "CreateDataSet",
      "output": {
        "documentation": "<p>201 response</p>",
        "shape": "CreateDataSetResponse"
      }
    },
    "CreateEventAction": {
      "documentation": "<p>This operation creates an event action.</p>",
      "errors": [
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>402 response</p>",
          "shape": "ServiceLimitExceededException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/event-actions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateEventActionRequest"
      },
      "name": "CreateEventAction",
      "output": {
        "documentation": "<p>201 response</p>",
        "shape": "CreateEventActionResponse"
      }
    },
    "CreateJob": {
      "documentation": "<p>This operation creates a job.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/jobs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJobRequest"
      },
      "name": "CreateJob",
      "output": {
        "documentation": "<p>201 response</p>",
        "shape": "CreateJobResponse"
      }
    },
    "CreateRevision": {
      "documentation": "<p>This operation creates a revision for a data set.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRevisionRequest"
      },
      "name": "CreateRevision",
      "output": {
        "documentation": "<p>201 response</p>",
        "shape": "CreateRevisionResponse"
      }
    },
    "DeleteAsset": {
      "documentation": "<p>This operation deletes an asset.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAssetRequest"
      },
      "name": "DeleteAsset"
    },
    "DeleteDataSet": {
      "documentation": "<p>This operation deletes a data set.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/data-sets/{DataSetId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDataSetRequest"
      },
      "name": "DeleteDataSet"
    },
    "DeleteEventAction": {
      "documentation": "<p>This operation deletes the event action.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/event-actions/{EventActionId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteEventActionRequest"
      },
      "name": "DeleteEventAction"
    },
    "DeleteRevision": {
      "documentation": "<p>This operation deletes a revision.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRevisionRequest"
      },
      "name": "DeleteRevision"
    },
    "GetAsset": {
      "documentation": "<p>This operation returns information about an asset.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAssetRequest"
      },
      "name": "GetAsset",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetAssetResponse"
      }
    },
    "GetDataSet": {
      "documentation": "<p>This operation returns information about a data set.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets/{DataSetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDataSetRequest"
      },
      "name": "GetDataSet",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetDataSetResponse"
      }
    },
    "GetEventAction": {
      "documentation": "<p>This operation retrieves information about an event action.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/event-actions/{EventActionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEventActionRequest"
      },
      "name": "GetEventAction",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetEventActionResponse"
      }
    },
    "GetJob": {
      "documentation": "<p>This operation returns information about a job.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/jobs/{JobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "name": "GetJob",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetJobResponse"
      }
    },
    "GetRevision": {
      "documentation": "<p>This operation returns information about a revision.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRevisionRequest"
      },
      "name": "GetRevision",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetRevisionResponse"
      }
    },
    "ListDataSetRevisions": {
      "documentation": "<p>This operation lists a data set's revisions sorted by CreatedAt in descending order.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDataSetRevisionsRequest"
      },
      "name": "ListDataSetRevisions",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListDataSetRevisionsResponse"
      }
    },
    "ListDataSets": {
      "documentation": "<p>This operation lists your data sets. When listing by origin OWNED, results are sorted by CreatedAt in descending order. When listing by origin ENTITLED, there is no order and the maxResults parameter is ignored.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDataSetsRequest"
      },
      "name": "ListDataSets",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListDataSetsResponse"
      }
    },
    "ListEventActions": {
      "documentation": "<p>This operation lists your event actions.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/event-actions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListEventActionsRequest"
      },
      "name": "ListEventActions",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListEventActionsResponse"
      }
    },
    "ListJobs": {
      "documentation": "<p>This operation lists your jobs sorted by CreatedAt in descending order.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "name": "ListJobs",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListJobsResponse"
      }
    },
    "ListRevisionAssets": {
      "documentation": "<p>This operation lists a revision's assets sorted alphabetically in descending order.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRevisionAssetsRequest"
      },
      "name": "ListRevisionAssets",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListRevisionAssetsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>This operation lists the tags on the resource.</p>",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "RevokeRevision": {
      "documentation": "<p>This operation revokes subscribers' access to a revision.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/revoke",
        "responseCode": 200
      },
      "input": {
        "shape": "RevokeRevisionRequest"
      },
      "name": "RevokeRevision",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "RevokeRevisionResponse"
      }
    },
    "SendApiAsset": {
      "documentation": "<p>This operation invokes an API Gateway API asset. The request is proxied to the provider’s API Gateway API.</p>",
      "endpoint": {
        "hostPrefix": "api-fulfill."
      },
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1",
        "responseCode": 200
      },
      "input": {
        "shape": "SendApiAssetRequest"
      },
      "name": "SendApiAsset",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "SendApiAssetResponse"
      }
    },
    "StartJob": {
      "documentation": "<p>This operation starts a job.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/jobs/{JobId}",
        "responseCode": 202
      },
      "input": {
        "shape": "StartJobRequest"
      },
      "name": "StartJob",
      "output": {
        "documentation": "<p>202 response</p>",
        "shape": "StartJobResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>This operation tags a resource.</p>",
      "errors": [],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "<p>This operation removes one or more tags from a resource.</p>",
      "errors": [],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateAsset": {
      "documentation": "<p>This operation updates an asset.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAssetRequest"
      },
      "name": "UpdateAsset",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateAssetResponse"
      }
    },
    "UpdateDataSet": {
      "documentation": "<p>This operation updates a data set.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/data-sets/{DataSetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDataSetRequest"
      },
      "name": "UpdateDataSet",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateDataSetResponse"
      }
    },
    "UpdateEventAction": {
      "documentation": "<p>This operation updates the event action.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/event-actions/{EventActionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateEventActionRequest"
      },
      "name": "UpdateEventAction",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateEventActionResponse"
      }
    },
    "UpdateRevision": {
      "documentation": "<p>This operation updates a revision.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRevisionRequest"
      },
      "name": "UpdateRevision",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateRevisionResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>Access to the resource is denied.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>Access to the resource is denied.</p>",
          "shape": "__string"
        }
      },
      "required": ["Message"],
      "type": "structure"
    },
    "Action": {
      "documentation": "<p>What occurs after a certain event.</p>",
      "members": {
        "ExportRevisionToS3": {
          "documentation": "<p>Details for the export revision to Amazon S3 action.</p>",
          "shape": "AutoExportRevisionToS3RequestDetails"
        }
      },
      "type": "structure"
    },
    "ApiDescription": {
      "documentation": "<p>The description of the API.</p>",
      "type": "string"
    },
    "ApiGatewayApiAsset": {
      "documentation": "<p>The API Gateway API that is the asset.</p>",
      "members": {
        "ApiDescription": {
          "documentation": "<p>The API description of the API asset.</p>",
          "shape": "ApiDescription"
        },
        "ApiEndpoint": {
          "documentation": "<p>The API endpoint of the API asset.</p>",
          "shape": "__string"
        },
        "ApiId": {
          "documentation": "<p>The unique identifier of the API asset.</p>",
          "shape": "__string"
        },
        "ApiKey": {
          "documentation": "<p>The API key of the API asset.</p>",
          "shape": "__string"
        },
        "ApiName": {
          "documentation": "<p>The API name of the API asset.</p>",
          "shape": "__string"
        },
        "ApiSpecificationDownloadUrl": {
          "documentation": "<p>The download URL of the API specification of the API asset.</p>",
          "shape": "__string"
        },
        "ApiSpecificationDownloadUrlExpiresAt": {
          "documentation": "<p>The date and time that the upload URL expires, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "ProtocolType": {
          "documentation": "<p>The protocol type of the API asset.</p>",
          "shape": "ProtocolType"
        },
        "Stage": {
          "documentation": "<p>The stage of the API asset.</p>",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "Arn": {
      "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.</p>",
      "type": "string"
    },
    "AssetDestinationEntry": {
      "documentation": "<p>The destination for the asset.</p>",
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for the asset.</p>",
          "shape": "Id"
        },
        "Bucket": {
          "documentation": "<p>The S3 bucket that is the destination for the asset.</p>",
          "shape": "__string"
        },
        "Key": {
          "documentation": "<p>The name of the object in Amazon S3 for the asset.</p>",
          "shape": "__string"
        }
      },
      "required": ["Bucket", "AssetId"],
      "type": "structure"
    },
    "AssetDetails": {
      "documentation": "<p>Information about the asset.</p>",
      "members": {
        "ApiGatewayApiAsset": {
          "documentation": "<p>Information about the API Gateway API asset.</p>",
          "shape": "ApiGatewayApiAsset"
        },
        "RedshiftDataShareAsset": {
          "documentation": "<p>The Amazon Redshift datashare that is the asset.</p>",
          "shape": "RedshiftDataShareAsset"
        },
        "S3SnapshotAsset": {
          "documentation": "<p>The S3 object that is the asset.</p>",
          "shape": "S3SnapshotAsset"
        }
      },
      "type": "structure"
    },
    "AssetEntry": {
      "documentation": "<p>An asset in AWS Data Exchange is a piece of data (S3 object) or a means of fulfilling data (Amazon Redshift datashare or Amazon API Gateway API). The asset can be a structured data file, an image file, or some other data file that can be stored as an S3 object, an Amazon API Gateway API, or an Amazon Redshift datashare. When you create an import job for your files, API Gateway APIs, or Amazon Redshift datashares, you create an asset in AWS Data Exchange.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the asset.</p>",
          "shape": "Arn"
        },
        "AssetDetails": {
          "documentation": "<p>Information about the asset.</p>",
          "shape": "AssetDetails"
        },
        "AssetType": {
          "documentation": "<p>The type of asset that is added to a data set.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the asset was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this asset.</p>",
          "shape": "Id"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the asset.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key. When importing from Amazon API Gateway API, the API name is used as the asset name. When importing from Amazon Redshift, the datashare name is used as the asset name.</p>",
          "shape": "AssetName"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this asset.</p>",
          "shape": "Id"
        },
        "SourceId": {
          "documentation": "<p>The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the asset was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "AssetType",
        "CreatedAt",
        "DataSetId",
        "Id",
        "Arn",
        "AssetDetails",
        "UpdatedAt",
        "RevisionId",
        "Name"
      ],
      "type": "structure"
    },
    "AssetName": {
      "documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key. When importing from Amazon API Gateway API, the API name is used as the asset name. When importing from Amazon Redshift, the datashare name is used as the asset name.</p>",
      "type": "string"
    },
    "AssetSourceEntry": {
      "documentation": "<p>The source of the assets.</p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The S3 bucket that's part of the source of the asset.</p>",
          "shape": "__string"
        },
        "Key": {
          "documentation": "<p>The name of the object in Amazon S3 for the asset.</p>",
          "shape": "__string"
        }
      },
      "required": ["Bucket", "Key"],
      "type": "structure"
    },
    "AssetType": {
      "documentation": "<p>The type of asset that is added to a data set.</p>",
      "enum": ["S3_SNAPSHOT", "REDSHIFT_DATA_SHARE", "API_GATEWAY_API"],
      "type": "string"
    },
    "AutoExportRevisionDestinationEntry": {
      "documentation": "<p>A revision destination is the Amazon S3 bucket folder destination to where the export will be sent.</p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The S3 bucket that is the destination for the event action.</p>",
          "shape": "__string"
        },
        "KeyPattern": {
          "documentation": "<p>A string representing the pattern for generated names of the individual assets in the revision. For more information about key patterns, see <a href=\"https://docs.aws.amazon.com/data-exchange/latest/userguide/jobs.html#revision-export-keypatterns\">Key patterns when exporting revisions</a>.</p>",
          "shape": "__string"
        }
      },
      "required": ["Bucket"],
      "type": "structure"
    },
    "AutoExportRevisionToS3RequestDetails": {
      "documentation": "<p>Details of the operation to be performed by the job.</p>",
      "members": {
        "Encryption": {
          "documentation": "<p>Encryption configuration for the auto export job.</p>",
          "shape": "ExportServerSideEncryption"
        },
        "RevisionDestination": {
          "documentation": "<p>A revision destination is the Amazon S3 bucket folder destination to where the export will be sent.</p>",
          "shape": "AutoExportRevisionDestinationEntry"
        }
      },
      "required": ["RevisionDestination"],
      "type": "structure"
    },
    "CancelJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The unique identifier for a job.</p>",
          "location": "uri",
          "locationName": "JobId",
          "shape": "__string"
        }
      },
      "required": ["JobId"],
      "type": "structure"
    },
    "Code": {
      "enum": [
        "ACCESS_DENIED_EXCEPTION",
        "INTERNAL_SERVER_EXCEPTION",
        "MALWARE_DETECTED",
        "RESOURCE_NOT_FOUND_EXCEPTION",
        "SERVICE_QUOTA_EXCEEDED_EXCEPTION",
        "VALIDATION_EXCEPTION",
        "MALWARE_SCAN_ENCRYPTED_FILE"
      ],
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
          "shape": "__string"
        },
        "ResourceId": {
          "documentation": "<p>The unique identifier for the resource with the conflict.</p>",
          "shape": "__string"
        },
        "ResourceType": {
          "documentation": "<p>The type of the resource with the conflict.</p>",
          "shape": "ResourceType"
        }
      },
      "required": ["Message"],
      "type": "structure"
    },
    "CreateDataSetRequest": {
      "documentation": "<p>The request body for CreateDataSet.</p>",
      "members": {
        "AssetType": {
          "documentation": "<p>The type of asset that is added to a data set.</p>",
          "shape": "AssetType"
        },
        "Description": {
          "documentation": "<p>A description for the data set. This value can be up to 16,348 characters long.</p>",
          "shape": "Description"
        },
        "Name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "Name"
        },
        "Tags": {
          "documentation": "<p>A data set tag is an optional label that you can assign to a data set when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.</p>",
          "shape": "MapOf__string"
        }
      },
      "required": ["AssetType", "Description", "Name"],
      "type": "structure"
    },
    "CreateDataSetResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the data set.</p>",
          "shape": "Arn"
        },
        "AssetType": {
          "documentation": "<p>The type of asset that is added to a data set.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description for the data set.</p>",
          "shape": "Description"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the data set.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "Name"
        },
        "Origin": {
          "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
          "shape": "Origin"
        },
        "OriginDetails": {
          "documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>",
          "shape": "OriginDetails"
        },
        "SourceId": {
          "documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>",
          "shape": "Id"
        },
        "Tags": {
          "documentation": "<p>The tags for the data set.</p>",
          "shape": "MapOf__string"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "CreateEventActionRequest": {
      "documentation": "<p>The request body for CreateEventAction.</p>",
      "members": {
        "Action": {
          "documentation": "<p>What occurs after a certain event.</p>",
          "shape": "Action"
        },
        "Event": {
          "documentation": "<p>What occurs to start an action.</p>",
          "shape": "Event"
        }
      },
      "required": ["Action", "Event"],
      "type": "structure"
    },
    "CreateEventActionResponse": {
      "members": {
        "Action": {
          "documentation": "<p>What occurs after a certain event.</p>",
          "shape": "Action"
        },
        "Arn": {
          "documentation": "<p>The ARN for the event action.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the event action was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Event": {
          "documentation": "<p>What occurs to start an action.</p>",
          "shape": "Event"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the event action.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the event action was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "CreateJobRequest": {
      "documentation": "<p>The request body for CreateJob.</p>",
      "members": {
        "Details": {
          "documentation": "<p>The details for the CreateJob request.</p>",
          "shape": "RequestDetails"
        },
        "Type": {
          "documentation": "<p>The type of job to be created.</p>",
          "shape": "Type"
        }
      },
      "required": ["Type", "Details"],
      "type": "structure"
    },
    "CreateJobResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the job.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the job was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Details": {
          "documentation": "<p>Details about the job.</p>",
          "shape": "ResponseDetails"
        },
        "Errors": {
          "documentation": "<p>The errors associated with jobs.</p>",
          "shape": "ListOfJobError"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the job.</p>",
          "shape": "Id"
        },
        "State": {
          "documentation": "<p>The state of the job.</p>",
          "shape": "State"
        },
        "Type": {
          "documentation": "<p>The job type.</p>",
          "shape": "Type"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the job was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "CreateRevisionRequest": {
      "documentation": "<p>The request body for CreateRevision.</p>",
      "members": {
        "Comment": {
          "documentation": "<p>An optional comment about the revision.</p>",
          "shape": "__stringMin0Max16384"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>A revision tag is an optional label that you can assign to a revision when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.</p>",
          "shape": "MapOf__string"
        }
      },
      "required": ["DataSetId"],
      "type": "structure"
    },
    "CreateRevisionResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the revision.</p>",
          "shape": "Arn"
        },
        "Comment": {
          "documentation": "<p>An optional comment about the revision.</p>",
          "shape": "__stringMin0Max16384"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the revision was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this revision.</p>",
          "shape": "Id"
        },
        "Finalized": {
          "documentation": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>",
          "shape": "__boolean"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the revision.</p>",
          "shape": "Id"
        },
        "RevocationComment": {
          "documentation": "<p>A required comment to inform subscribers of the reason their access to the revision was revoked.</p>",
          "shape": "__stringMin10Max512"
        },
        "Revoked": {
          "documentation": "<p>A status indicating that subscribers' access to the revision was revoked.</p>",
          "shape": "__boolean"
        },
        "RevokedAt": {
          "documentation": "<p>The date and time that the revision was revoked, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "SourceId": {
          "documentation": "<p>The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.</p>",
          "shape": "Id"
        },
        "Tags": {
          "documentation": "<p>The tags for the revision.</p>",
          "shape": "MapOf__string"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the revision was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DataSetEntry": {
      "documentation": "<p>A data set is an AWS resource with one or more revisions.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the data set.</p>",
          "shape": "Arn"
        },
        "AssetType": {
          "documentation": "<p>The type of asset that is added to a data set.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description for the data set.</p>",
          "shape": "Description"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the data set.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "Name"
        },
        "Origin": {
          "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
          "shape": "Origin"
        },
        "OriginDetails": {
          "documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>",
          "shape": "OriginDetails"
        },
        "SourceId": {
          "documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": ["Origin", "AssetType", "Description", "CreatedAt", "Id", "Arn", "UpdatedAt", "Name"],
      "type": "structure"
    },
    "DeleteAssetRequest": {
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for an asset.</p>",
          "location": "uri",
          "locationName": "AssetId",
          "shape": "__string"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": ["RevisionId", "AssetId", "DataSetId"],
      "type": "structure"
    },
    "DeleteDataSetRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        }
      },
      "required": ["DataSetId"],
      "type": "structure"
    },
    "DeleteEventActionRequest": {
      "members": {
        "EventActionId": {
          "documentation": "<p>The unique identifier for the event action.</p>",
          "location": "uri",
          "locationName": "EventActionId",
          "shape": "__string"
        }
      },
      "required": ["EventActionId"],
      "type": "structure"
    },
    "DeleteRevisionRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": ["RevisionId", "DataSetId"],
      "type": "structure"
    },
    "Description": {
      "documentation": "<p>A description of a resource.</p>",
      "type": "string"
    },
    "Details": {
      "documentation": "<p>Information about the job error.</p>",
      "members": {
        "ImportAssetFromSignedUrlJobErrorDetails": {
          "documentation": "<p>Information about the job error.</p>",
          "shape": "ImportAssetFromSignedUrlJobErrorDetails"
        },
        "ImportAssetsFromS3JobErrorDetails": {
          "documentation": "<p>Information about the job error.</p>",
          "shape": "ListOfAssetSourceEntry"
        }
      },
      "type": "structure"
    },
    "Event": {
      "documentation": "<p>What occurs to start an action.</p>",
      "members": {
        "RevisionPublished": {
          "documentation": "<p>What occurs to start the revision publish action.</p>",
          "shape": "RevisionPublished"
        }
      },
      "type": "structure"
    },
    "EventActionEntry": {
      "documentation": "<p>An event action is an object that defines the relationship between a specific event and an automated action that will be taken on behalf of the customer.</p>",
      "members": {
        "Action": {
          "documentation": "<p>What occurs after a certain event.</p>",
          "shape": "Action"
        },
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the event action.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the event action was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Event": {
          "documentation": "<p>What occurs to start an action.</p>",
          "shape": "Event"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the event action.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the event action was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": ["Action", "CreatedAt", "Event", "Id", "Arn", "UpdatedAt"],
      "type": "structure"
    },
    "ExceptionCause": {
      "enum": ["InsufficientS3BucketPolicy", "S3AccessDenied"],
      "type": "string"
    },
    "ExportAssetToSignedUrlRequestDetails": {
      "documentation": "<p>Details of the operation to be performed by the job.</p>",
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for the asset that is exported to a signed URL.</p>",
          "shape": "Id"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this export request.</p>",
          "shape": "Id"
        }
      },
      "required": ["DataSetId", "AssetId", "RevisionId"],
      "type": "structure"
    },
    "ExportAssetToSignedUrlResponseDetails": {
      "documentation": "<p>The details of the export to signed URL response.</p>",
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for the asset associated with this export job.</p>",
          "shape": "Id"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this export response.</p>",
          "shape": "Id"
        },
        "SignedUrl": {
          "documentation": "<p>The signed URL for the export request.</p>",
          "shape": "__string"
        },
        "SignedUrlExpiresAt": {
          "documentation": "<p>The date and time that the signed URL expires, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": ["DataSetId", "AssetId", "RevisionId"],
      "type": "structure"
    },
    "ExportAssetsToS3RequestDetails": {
      "documentation": "<p>Details of the operation to be performed by the job.</p>",
      "members": {
        "AssetDestinations": {
          "documentation": "<p>The destination for the asset.</p>",
          "shape": "ListOfAssetDestinationEntry"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
          "shape": "Id"
        },
        "Encryption": {
          "documentation": "<p>Encryption configuration for the export job.</p>",
          "shape": "ExportServerSideEncryption"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this export request.</p>",
          "shape": "Id"
        }
      },
      "required": ["AssetDestinations", "DataSetId", "RevisionId"],
      "type": "structure"
    },
    "ExportAssetsToS3ResponseDetails": {
      "documentation": "<p>Details about the export to Amazon S3 response.</p>",
      "members": {
        "AssetDestinations": {
          "documentation": "<p>The destination in Amazon S3 where the asset is exported.</p>",
          "shape": "ListOfAssetDestinationEntry"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
          "shape": "Id"
        },
        "Encryption": {
          "documentation": "<p>Encryption configuration of the export job.</p>",
          "shape": "ExportServerSideEncryption"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this export response.</p>",
          "shape": "Id"
        }
      },
      "required": ["AssetDestinations", "DataSetId", "RevisionId"],
      "type": "structure"
    },
    "ExportRevisionsToS3RequestDetails": {
      "documentation": "<p>Details of the operation to be performed by the job.</p>",
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
          "shape": "Id"
        },
        "Encryption": {
          "documentation": "<p>Encryption configuration for the export job.</p>",
          "shape": "ExportServerSideEncryption"
        },
        "RevisionDestinations": {
          "documentation": "<p>The destination for the revision.</p>",
          "shape": "ListOfRevisionDestinationEntry"
        }
      },
      "required": ["RevisionDestinations", "DataSetId"],
      "type": "structure"
    },
    "ExportRevisionsToS3ResponseDetails": {
      "documentation": "<p>Details about the export revisions to Amazon S3 response.</p>",
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
          "shape": "Id"
        },
        "Encryption": {
          "documentation": "<p>Encryption configuration of the export job.</p>",
          "shape": "ExportServerSideEncryption"
        },
        "EventActionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the event action.</p>",
          "shape": "__string"
        },
        "RevisionDestinations": {
          "documentation": "<p>The destination in Amazon S3 where the revision is exported.</p>",
          "shape": "ListOfRevisionDestinationEntry"
        }
      },
      "required": ["RevisionDestinations", "DataSetId"],
      "type": "structure"
    },
    "ExportServerSideEncryption": {
      "documentation": "<p>Encryption configuration of the export job. Includes the encryption type in addition to the AWS KMS key. The KMS key is only necessary if you chose the KMS encryption. type.</p>",
      "members": {
        "KmsKeyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS KMS key you want to use to encrypt the Amazon S3 objects. This parameter is required if you choose aws:kms as an encryption type.</p>",
          "shape": "__string"
        },
        "Type": {
          "documentation": "<p>The type of server side encryption used for encrypting the objects in Amazon S3.</p>",
          "shape": "ServerSideEncryptionTypes"
        }
      },
      "required": ["Type"],
      "type": "structure"
    },
    "GetAssetRequest": {
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for an asset.</p>",
          "location": "uri",
          "locationName": "AssetId",
          "shape": "__string"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": ["RevisionId", "AssetId", "DataSetId"],
      "type": "structure"
    },
    "GetAssetResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the asset.</p>",
          "shape": "Arn"
        },
        "AssetDetails": {
          "documentation": "<p>Information about the asset.</p>",
          "shape": "AssetDetails"
        },
        "AssetType": {
          "documentation": "<p>The type of asset that is added to a data set.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the asset was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this asset.</p>",
          "shape": "Id"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the asset.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key. When importing from Amazon API Gateway API, the API name is used as the asset name. When importing from Amazon Redshift, the datashare name is used as the asset name.</p>",
          "shape": "AssetName"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this asset.</p>",
          "shape": "Id"
        },
        "SourceId": {
          "documentation": "<p>The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the asset was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetDataSetRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        }
      },
      "required": ["DataSetId"],
      "type": "structure"
    },
    "GetDataSetResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the data set.</p>",
          "shape": "Arn"
        },
        "AssetType": {
          "documentation": "<p>The type of asset that is added to a data set.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description for the data set.</p>",
          "shape": "Description"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the data set.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "Name"
        },
        "Origin": {
          "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
          "shape": "Origin"
        },
        "OriginDetails": {
          "documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>",
          "shape": "OriginDetails"
        },
        "SourceId": {
          "documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>",
          "shape": "Id"
        },
        "Tags": {
          "documentation": "<p>The tags for the data set.</p>",
          "shape": "MapOf__string"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetEventActionRequest": {
      "members": {
        "EventActionId": {
          "documentation": "<p>The unique identifier for the event action.</p>",
          "location": "uri",
          "locationName": "EventActionId",
          "shape": "__string"
        }
      },
      "required": ["EventActionId"],
      "type": "structure"
    },
    "GetEventActionResponse": {
      "members": {
        "Action": {
          "documentation": "<p>What occurs after a certain event.</p>",
          "shape": "Action"
        },
        "Arn": {
          "documentation": "<p>The ARN for the event action.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the event action was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Event": {
          "documentation": "<p>What occurs to start an action.</p>",
          "shape": "Event"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the event action.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the event action was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The unique identifier for a job.</p>",
          "location": "uri",
          "locationName": "JobId",
          "shape": "__string"
        }
      },
      "required": ["JobId"],
      "type": "structure"
    },
    "GetJobResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the job.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the job was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Details": {
          "documentation": "<p>Details about the job.</p>",
          "shape": "ResponseDetails"
        },
        "Errors": {
          "documentation": "<p>The errors associated with jobs.</p>",
          "shape": "ListOfJobError"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the job.</p>",
          "shape": "Id"
        },
        "State": {
          "documentation": "<p>The state of the job.</p>",
          "shape": "State"
        },
        "Type": {
          "documentation": "<p>The job type.</p>",
          "shape": "Type"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the job was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetRevisionRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": ["RevisionId", "DataSetId"],
      "type": "structure"
    },
    "GetRevisionResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the revision.</p>",
          "shape": "Arn"
        },
        "Comment": {
          "documentation": "<p>An optional comment about the revision.</p>",
          "shape": "__stringMin0Max16384"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the revision was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this revision.</p>",
          "shape": "Id"
        },
        "Finalized": {
          "documentation": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>",
          "shape": "__boolean"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the revision.</p>",
          "shape": "Id"
        },
        "RevocationComment": {
          "documentation": "<p>A required comment to inform subscribers of the reason their access to the revision was revoked.</p>",
          "shape": "__stringMin10Max512"
        },
        "Revoked": {
          "documentation": "<p>A status indicating that subscribers' access to the revision was revoked.</p>",
          "shape": "__boolean"
        },
        "RevokedAt": {
          "documentation": "<p>The date and time that the revision was revoked, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "SourceId": {
          "documentation": "<p>The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.</p>",
          "shape": "Id"
        },
        "Tags": {
          "documentation": "<p>The tags for the revision.</p>",
          "shape": "MapOf__string"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the revision was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "Id": {
      "documentation": "<p>A unique identifier.</p>",
      "type": "string"
    },
    "ImportAssetFromApiGatewayApiRequestDetails": {
      "documentation": "<p>The request details.</p>",
      "members": {
        "ApiDescription": {
          "documentation": "<p>The API description. Markdown supported.</p>",
          "shape": "ApiDescription"
        },
        "ApiId": {
          "documentation": "<p>The API Gateway API ID.</p>",
          "shape": "__string"
        },
        "ApiKey": {
          "documentation": "<p>The API Gateway API key.</p>",
          "shape": "__string"
        },
        "ApiName": {
          "documentation": "<p>The API name.</p>",
          "shape": "__string"
        },
        "ApiSpecificationMd5Hash": {
          "documentation": "<p>The Base64-encoded MD5 hash of the OpenAPI 3.0 JSON API specification file. It is used to ensure the integrity of the file.</p>",
          "shape": "__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093"
        },
        "DataSetId": {
          "documentation": "<p>The data set ID.</p>",
          "shape": "Id"
        },
        "ProtocolType": {
          "documentation": "<p>The protocol type.</p>",
          "shape": "ProtocolType"
        },
        "RevisionId": {
          "documentation": "<p>The revision ID.</p>",
          "shape": "Id"
        },
        "Stage": {
          "documentation": "<p>The API stage.</p>",
          "shape": "__string"
        }
      },
      "required": ["ApiName", "ProtocolType", "ApiSpecificationMd5Hash", "Stage", "DataSetId", "ApiId", "RevisionId"],
      "type": "structure"
    },
    "ImportAssetFromApiGatewayApiResponseDetails": {
      "documentation": "<p>The response details.</p>",
      "members": {
        "ApiDescription": {
          "documentation": "<p>The API description.</p>",
          "shape": "ApiDescription"
        },
        "ApiId": {
          "documentation": "<p>The API ID.</p>",
          "shape": "__string"
        },
        "ApiKey": {
          "documentation": "<p>The API key.</p>",
          "shape": "__string"
        },
        "ApiName": {
          "documentation": "<p>The API name.</p>",
          "shape": "__string"
        },
        "ApiSpecificationMd5Hash": {
          "documentation": "<p>The Base64-encoded Md5 hash for the API asset, used to ensure the integrity of the API at that location.</p>",
          "shape": "__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093"
        },
        "ApiSpecificationUploadUrl": {
          "documentation": "<p>The upload URL of the API specification.</p>",
          "shape": "__string"
        },
        "ApiSpecificationUploadUrlExpiresAt": {
          "documentation": "<p>The date and time that the upload URL expires, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The data set ID.</p>",
          "shape": "Id"
        },
        "ProtocolType": {
          "documentation": "<p>The protocol type.</p>",
          "shape": "ProtocolType"
        },
        "RevisionId": {
          "documentation": "<p>The revision ID.</p>",
          "shape": "Id"
        },
        "Stage": {
          "documentation": "<p>The API stage.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "ApiSpecificationUploadUrlExpiresAt",
        "ApiName",
        "ProtocolType",
        "ApiSpecificationMd5Hash",
        "Stage",
        "DataSetId",
        "ApiId",
        "RevisionId",
        "ApiSpecificationUploadUrl"
      ],
      "type": "structure"
    },
    "ImportAssetFromSignedUrlJobErrorDetails": {
      "documentation": "<p>Information about the job error.</p>",
      "members": {
        "AssetName": {
          "documentation": "<p>Information about the job error.</p>",
          "shape": "AssetName"
        }
      },
      "required": ["AssetName"],
      "type": "structure"
    },
    "ImportAssetFromSignedUrlRequestDetails": {
      "documentation": "<p>Details of the operation to be performed by the job.</p>",
      "members": {
        "AssetName": {
          "documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name.</p>",
          "shape": "AssetName"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
          "shape": "Id"
        },
        "Md5Hash": {
          "documentation": "<p>The Base64-encoded Md5 hash for the asset, used to ensure the integrity of the file at that location.</p>",
          "shape": "__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this import request.</p>",
          "shape": "Id"
        }
      },
      "required": ["DataSetId", "Md5Hash", "AssetName", "RevisionId"],
      "type": "structure"
    },
    "ImportAssetFromSignedUrlResponseDetails": {
      "documentation": "<p>The details in the response for an import request, including the signed URL and other information.</p>",
      "members": {
        "AssetName": {
          "documentation": "<p>The name for the asset associated with this import job.</p>",
          "shape": "AssetName"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
          "shape": "Id"
        },
        "Md5Hash": {
          "documentation": "<p>The Base64-encoded Md5 hash for the asset, used to ensure the integrity of the file at that location.</p>",
          "shape": "__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this import response.</p>",
          "shape": "Id"
        },
        "SignedUrl": {
          "documentation": "<p>The signed URL.</p>",
          "shape": "__string"
        },
        "SignedUrlExpiresAt": {
          "documentation": "<p>The time and date at which the signed URL expires, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": ["DataSetId", "AssetName", "RevisionId"],
      "type": "structure"
    },
    "ImportAssetsFromRedshiftDataSharesRequestDetails": {
      "documentation": "Details from an import from Amazon Redshift datashare request.",
      "members": {
        "AssetSources": {
          "documentation": "A list of Amazon Redshift datashare assets.",
          "shape": "ListOfRedshiftDataShareAssetSourceEntry"
        },
        "DataSetId": {
          "documentation": "The unique identifier for the data set associated with this import job.",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "The unique identifier for the revision associated with this import job.",
          "shape": "Id"
        }
      },
      "required": ["DataSetId", "AssetSources", "RevisionId"],
      "type": "structure"
    },
    "ImportAssetsFromRedshiftDataSharesResponseDetails": {
      "documentation": "Details from an import from Amazon Redshift datashare response.",
      "members": {
        "AssetSources": {
          "documentation": "A list of Amazon Redshift datashare asset sources.",
          "shape": "ListOfRedshiftDataShareAssetSourceEntry"
        },
        "DataSetId": {
          "documentation": "The unique identifier for the data set associated with this import job.",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "The unique identifier for the revision associated with this import job.",
          "shape": "Id"
        }
      },
      "required": ["DataSetId", "AssetSources", "RevisionId"],
      "type": "structure"
    },
    "ImportAssetsFromS3RequestDetails": {
      "documentation": "<p>Details of the operation to be performed by the job.</p>",
      "members": {
        "AssetSources": {
          "documentation": "<p>Is a list of S3 bucket and object key pairs.</p>",
          "shape": "ListOfAssetSourceEntry"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this import request.</p>",
          "shape": "Id"
        }
      },
      "required": ["DataSetId", "AssetSources", "RevisionId"],
      "type": "structure"
    },
    "ImportAssetsFromS3ResponseDetails": {
      "documentation": "<p>Details from an import from Amazon S3 response.</p>",
      "members": {
        "AssetSources": {
          "documentation": "<p>Is a list of Amazon S3 bucket and object key pairs.</p>",
          "shape": "ListOfAssetSourceEntry"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this import response.</p>",
          "shape": "Id"
        }
      },
      "required": ["DataSetId", "AssetSources", "RevisionId"],
      "type": "structure"
    },
    "InternalServerException": {
      "documentation": "An exception occurred with the service.",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "The message identifying the service exception that occurred.",
          "shape": "__string"
        }
      },
      "required": ["Message"],
      "type": "structure"
    },
    "JobEntry": {
      "documentation": "AWS Data Exchange Jobs are asynchronous import or export operations used to create or copy assets. A data set owner can both import and export as they see fit. Someone with an entitlement to a data set can only export. Jobs are deleted 90 days after they are created.",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the job.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the job was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Details": {
          "documentation": "<p>Details of the operation to be performed by the job, such as export destination details or import source details.</p>",
          "shape": "ResponseDetails"
        },
        "Errors": {
          "documentation": "<p>Errors for jobs.</p>",
          "shape": "ListOfJobError"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the job.</p>",
          "shape": "Id"
        },
        "State": {
          "documentation": "<p>The state of the job.</p>",
          "shape": "State"
        },
        "Type": {
          "documentation": "<p>The job type.</p>",
          "shape": "Type"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the job was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": ["Type", "Details", "State", "CreatedAt", "Id", "Arn", "UpdatedAt"],
      "type": "structure"
    },
    "JobError": {
      "documentation": "An error that occurred with the job request.",
      "members": {
        "Code": {
          "documentation": "The code for the job error.",
          "shape": "Code"
        },
        "Details": {
          "documentation": "<p>The details about the job error.</p>",
          "shape": "Details"
        },
        "LimitName": {
          "documentation": "<p>The name of the limit that was reached.</p>",
          "shape": "JobErrorLimitName"
        },
        "LimitValue": {
          "documentation": "The value of the exceeded limit.",
          "shape": "__double"
        },
        "Message": {
          "documentation": "The message related to the job error.",
          "shape": "__string"
        },
        "ResourceId": {
          "documentation": "The unique identifier for the resource related to the error.",
          "shape": "__string"
        },
        "ResourceType": {
          "documentation": "The type of resource related to the error.",
          "shape": "JobErrorResourceTypes"
        }
      },
      "required": ["Message", "Code"],
      "type": "structure"
    },
    "JobErrorLimitName": {
      "documentation": "The name of the limit that was reached.",
      "enum": ["Assets per revision", "Asset size in GB", "Amazon Redshift datashare assets per revision"],
      "type": "string"
    },
    "JobErrorResourceTypes": {
      "documentation": "The types of resource which the job error can apply to.",
      "enum": ["REVISION", "ASSET", "DATA_SET"],
      "type": "string"
    },
    "LimitName": {
      "enum": [
        "Products per account",
        "Data sets per account",
        "Data sets per product",
        "Revisions per data set",
        "Assets per revision",
        "Assets per import job from Amazon S3",
        "Asset per export job from Amazon S3",
        "Asset size in GB",
        "Concurrent in progress jobs to export assets to Amazon S3",
        "Concurrent in progress jobs to export assets to a signed URL",
        "Concurrent in progress jobs to import assets from Amazon S3",
        "Concurrent in progress jobs to import assets from a signed URL",
        "Concurrent in progress jobs to export revisions to Amazon S3",
        "Event actions per account",
        "Auto export event actions per data set",
        "Amazon Redshift datashare assets per import job from Redshift",
        "Concurrent in progress jobs to import assets from Amazon Redshift datashares",
        "Revisions per Amazon Redshift datashare data set",
        "Amazon Redshift datashare assets per revision",
        "Concurrent in progress jobs to import assets from an API Gateway API",
        "Amazon API Gateway API assets per revision",
        "Revisions per Amazon API Gateway API data set"
      ],
      "type": "string"
    },
    "ListDataSetRevisionsRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results returned by a single call.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "required": ["DataSetId"],
      "type": "structure"
    },
    "ListDataSetRevisionsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "shape": "NextToken"
        },
        "Revisions": {
          "documentation": "<p>The asset objects listed by the request.</p>",
          "shape": "ListOfRevisionEntry"
        }
      },
      "type": "structure"
    },
    "ListDataSetsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results returned by a single call.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "Origin": {
          "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
          "location": "querystring",
          "locationName": "origin",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListDataSetsResponse": {
      "members": {
        "DataSets": {
          "documentation": "<p>The data set objects listed by the request.</p>",
          "shape": "ListOfDataSetEntry"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListEventActionsRequest": {
      "members": {
        "EventSourceId": {
          "documentation": "<p>The unique identifier for the event source.</p>",
          "location": "querystring",
          "locationName": "eventSourceId",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results returned by a single call.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListEventActionsResponse": {
      "members": {
        "EventActions": {
          "documentation": "<p>The event action objects listed by the request.</p>",
          "shape": "ListOfEventActionEntry"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListJobsRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "querystring",
          "locationName": "dataSetId",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results returned by a single call.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "querystring",
          "locationName": "revisionId",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListJobsResponse": {
      "members": {
        "Jobs": {
          "documentation": "<p>The jobs listed by the request.</p>",
          "shape": "ListOfJobEntry"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListOfAssetDestinationEntry": {
      "documentation": "<p>The destination where the assets will be exported.</p>",
      "member": {
        "shape": "AssetDestinationEntry"
      },
      "type": "list"
    },
    "ListOfAssetEntry": {
      "member": {
        "shape": "AssetEntry"
      },
      "type": "list"
    },
    "ListOfAssetSourceEntry": {
      "documentation": "<p>The list of sources for the assets.</p>",
      "member": {
        "shape": "AssetSourceEntry"
      },
      "type": "list"
    },
    "ListOfDataSetEntry": {
      "member": {
        "shape": "DataSetEntry"
      },
      "type": "list"
    },
    "ListOfEventActionEntry": {
      "member": {
        "shape": "EventActionEntry"
      },
      "type": "list"
    },
    "ListOfJobEntry": {
      "member": {
        "shape": "JobEntry"
      },
      "type": "list"
    },
    "ListOfJobError": {
      "member": {
        "shape": "JobError"
      },
      "type": "list"
    },
    "ListOfRedshiftDataShareAssetSourceEntry": {
      "documentation": "A list of Amazon Redshift datashare asset sources.",
      "member": {
        "shape": "RedshiftDataShareAssetSourceEntry"
      },
      "type": "list"
    },
    "ListOfRevisionDestinationEntry": {
      "documentation": "<p>The destination where the assets in the revision will be exported.</p>",
      "member": {
        "shape": "RevisionDestinationEntry"
      },
      "type": "list"
    },
    "ListOfRevisionEntry": {
      "member": {
        "shape": "RevisionEntry"
      },
      "type": "list"
    },
    "ListOf__string": {
      "member": {
        "shape": "__string"
      },
      "type": "list"
    },
    "ListRevisionAssetsRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results returned by a single call.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": ["RevisionId", "DataSetId"],
      "type": "structure"
    },
    "ListRevisionAssetsResponse": {
      "members": {
        "Assets": {
          "documentation": "<p>The asset objects listed by the request.</p>",
          "shape": "ListOfAssetEntry"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.</p>",
          "location": "uri",
          "locationName": "resource-arn",
          "shape": "__string"
        }
      },
      "required": ["ResourceArn"],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "A label that consists of a customer-defined key and an optional value.",
          "locationName": "tags",
          "shape": "MapOf__string"
        }
      },
      "type": "structure"
    },
    "MapOf__string": {
      "key": {
        "shape": "__string"
      },
      "type": "map",
      "value": {
        "shape": "__string"
      }
    },
    "MaxResults": {
      "max": 25,
      "min": 1,
      "type": "integer"
    },
    "Name": {
      "documentation": "The name of the model.",
      "type": "string"
    },
    "NextToken": {
      "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
      "type": "string"
    },
    "Origin": {
      "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers). When an owned data set is published in a product, AWS Data Exchange creates a copy of the data set. Subscribers can access that copy of the data set as an entitled data set.</p>",
      "enum": ["OWNED", "ENTITLED"],
      "type": "string"
    },
    "OriginDetails": {
      "documentation": "<p>Information about the origin of the data set.</p>",
      "members": {
        "ProductId": {
          "documentation": "<p>The product ID of the origin of the data set.</p>",
          "shape": "__string"
        }
      },
      "required": ["ProductId"],
      "type": "structure"
    },
    "ProtocolType": {
      "enum": ["REST"],
      "type": "string"
    },
    "RedshiftDataShareAsset": {
      "documentation": "The Amazon Redshift datashare asset.",
      "members": {
        "Arn": {
          "documentation": "The Amazon Resource Name (ARN) of the datashare asset.",
          "shape": "__string"
        }
      },
      "required": ["Arn"],
      "type": "structure"
    },
    "RedshiftDataShareAssetSourceEntry": {
      "documentation": "<p>The source of the Amazon Redshift datashare asset.</p>",
      "members": {
        "DataShareArn": {
          "documentation": "The Amazon Resource Name (ARN) of the datashare asset.",
          "shape": "__string"
        }
      },
      "required": ["DataShareArn"],
      "type": "structure"
    },
    "RequestDetails": {
      "documentation": "<p>The details for the request.</p>",
      "members": {
        "ExportAssetToSignedUrl": {
          "documentation": "<p>Details about the export to signed URL request.</p>",
          "shape": "ExportAssetToSignedUrlRequestDetails"
        },
        "ExportAssetsToS3": {
          "documentation": "<p>Details about the export to Amazon S3 request.</p>",
          "shape": "ExportAssetsToS3RequestDetails"
        },
        "ExportRevisionsToS3": {
          "documentation": "<p>Details about the export to Amazon S3 request.</p>",
          "shape": "ExportRevisionsToS3RequestDetails"
        },
        "ImportAssetFromApiGatewayApi": {
          "documentation": "<p>Information about the import asset from API Gateway API request.</p>",
          "shape": "ImportAssetFromApiGatewayApiRequestDetails"
        },
        "ImportAssetFromSignedUrl": {
          "documentation": "<p>Details about the import from signed URL request.</p>",
          "shape": "ImportAssetFromSignedUrlRequestDetails"
        },
        "ImportAssetsFromRedshiftDataShares": {
          "documentation": "<p>Details from an import from Amazon Redshift datashare request.</p>",
          "shape": "ImportAssetsFromRedshiftDataSharesRequestDetails"
        },
        "ImportAssetsFromS3": {
          "documentation": "<p>Details about the import from Amazon S3 request.</p>",
          "shape": "ImportAssetsFromS3RequestDetails"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
[...]
